#macro(showErrorMessage)
    #if ($BLOJSOM_ADMIN_PLUGIN_OPERATION_RESULT)
    <p>
        <h4><font color="red">Status</font>: $BLOJSOM_ADMIN_PLUGIN_OPERATION_RESULT</h4>
    </p>
    #end
#end

#macro(trueFalseSelectList $selectListName $selectedValue)
    <select name="$selectListName" size="2">
        #if ($selectedValue == true)<option value="true" selected>True</option> #else <option value="true">True</option>#end
        #if ($selectedValue == false)<option value="false" selected>False</option> #else <option value="false">False</option>#end
    </select>
#end