<?xml version="1.0" encoding="UTF-8"?>
<html>

    <head>
        <title>$BLOJSOM_BLOG.getBlogName() - Edit blog authorization</title>
    </head>

    <body>
        <center>
            <h3>$BLOJSOM_BLOG.getBlogName() - Edit blog authorization</h3>
        </center>
        <a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin">Administration</a> homepage.
        <p />

        <!-- Add blog user authorization form -->
        <center>
            <h3>Add a new authorized user to the current blog</h3>
            <table border="1">
                <form name="add-blog-authorization" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="add-blog-authorization"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-authorization"/>
                    <tr>
                        <td>Authorized user id</td>
                        <td><input type="text" size="15" name="blog-user-id"/></td>
                    </tr>
                    <tr>
                        <td>Authorized user password</td>
                        <td><input type="password" size="15" name="blog-user-password"/></td>
                    </tr>
                    <tr>
                        <td>Authorized user password (again)</td>
                        <td><input type="password" size="15" name="blog-user-password-check"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="Add authorized user"/>
                                <input type="reset" name="reset" value="Reset"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>
        </center>
        <p/>

        <!-- Modify blog user authorization form -->
        <center>
            <h3>Modify an existing authorized user to the current blog</h3>
            <table border="1">
                <form name="add-blog-authorization" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="add-blog-authorization"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-authorization"/>
                    <tr>
                        <td>Authorized user id</td>
                        <td>
                            <select name="blog-user-id">
                            #foreach ($blogUserID in $BLOJSOM_PLUGIN_EDIT_BLOG_AUTHORIZATION_MAP.keySet())
                                <option value="$blogUserID">$blogUserID</option>
                            #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Authorized user password</td>
                        <td><input type="password" size="15" name="blog-user-password"/></td>
                    </tr>
                    <tr>
                        <td>Authorized user password (again)</td>
                        <td><input type="password" size="15" name="blog-user-password-check"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="Modify authorized user"/>
                                <input type="reset" name="reset" value="Reset"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>
        </center>
        <p/>

        <!-- Delete blog user authorization form -->
        <center>
            <h3>Delete an authorized user from the current blog</h3>
            <table border="1">
                <form name="delete-blog-user" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="delete-blog-authorization"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-authorization"/>
                    <tr>
                        <td>Authorized user id</td>
                        <td>
                            <select name="blog-user-id">
                            #foreach ($blogUserID in $BLOJSOM_PLUGIN_EDIT_BLOG_AUTHORIZATION_MAP.keySet())
                                <option value="$blogUserID">$blogUserID</option>
                            #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="Delete authorized user"/>
                                <input type="reset" name="reset" value="Reset"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>
        </center>
        <p/>
    </body>
</html>