<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('console.header' 'Administration Console')")

    <div id="header">
        <ul id="primary">
            <li><span>Administration</span></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-categories&action=page">Categories</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry&blog-category-name=/">Entries</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-properties&action=page">Weblog Settings</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-plugins&action=page">Plugin Settings</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&action=logout">Logout</a></li>
        </ul>
    </div>

    <div id="contents">

        #showErrorMessage()

        <p>Select one of the options above to edit the settings of your weblog.</p>
    </div>

#adminPageFooter()
