<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('plugin.settings' 'Plugin Settings')")

<div id="header">
    <ul id="primary">
        <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin">Administration</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-categories&action=page">Categories</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry&blog-category-name=/">Entries</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-properties&action=page">Weblog Settings</a></li>
        <li><span>Plugin Settings</span></li>
        <ul id="secondary">
            <li><span>Mappings</span></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=list-web-admin-plugins">Configure available plugins</a></li>
        </ul>
        <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&action=logout">Logout</a></li>
    </ul>
</div>

<div id="contents">

    #showErrorMessage()
    
    <p>
        Available plugins:
        #foreach ($plugin in $BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_AVAILABLE_PLUGINS.keySet())
           <a href="#">$plugin&nbsp;</a>
        #end
    </p>

    <table>
        <tr>
            <th>#adminResource('flavor.text' 'Flavor')</th>
            <th>#adminResource('plugin.chain.map.text' 'Plugin chain map')</th>
        </tr>
        <form name="edit-blog-plugins" action="." method="post" accept-charset="UTF-8">
            <input type="hidden" name="action" value="modify-plugin-chains"/>
            <input type="hidden" name="flavor" value="admin"/>
            <input type="hidden" name="plugins" value="edit-blog-plugins"/>
                #foreach ($flavor in $BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_MAP.keySet())
            <tr>
                <td>$flavor plugin chain map</td>
                <td>
                    <input name="${flavor}.blojsom-plugin-chain" type="text" size="50" value="$BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_MAP.get($flavor)"/>
                </td>
            </tr>
                #end
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="#adminResource('edit.blog.plugin.chains.text' 'Edit blog plugin chains')"/>
                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                </td>
            </tr>
        </form>
    </table>
</div>

#adminPageFooter()