<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('login.header' 'Login')")

        <center>
            <table>
                <form name="blojsom-login" action="$BLOJSOM_BLOG.getBlogURL()?flavor=admin" method="post">
                    <tr>
                        <td>#adminResource('username.text' 'Username')</td>
                        <td>
                            <input name="username" type="text" size="25"/>
                        </td>
                    </tr>
                    <tr>
                        <td>#adminResource('password.text' 'Password')</td>
                        <td>
                            <input name="password" type="password" size="25"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="#adminResource('login.text' 'Login')"/>
                                <input type="reset" name="Reset" value="#adminResource('reset.text' 'Reset')"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>
        </center>

#adminPageFooter()