<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('console.header' 'Administration Console')")
#set($editText = "#adminResource('edit.text' 'Edit')")
#set($uploadText = "#adminResource('upload.text' 'Upload')")
#set($logoutText = "#adminResource('logout.text' 'Edit')")

    <div id="mainClm">
        <ul>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-authorization&action=page">$editText</a> #adminResource('blog.authorization.text' 'blog authorization.')</li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-properties&action=page">$editText</a> #adminResource('blog.properties.text' 'blog properties.')</li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-templates&action=page">$editText</a> #adminResource('blog.templates.text' 'blog templates.')</li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-flavors&action=page">$editText</a> #adminResource('blog.flavors.text' 'blog flavors.')</li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-plugins&action=page">$editText</a> #adminResource('blog.pluginchains.text' 'blog plugin chains.')</li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=list-web-admin-plugins&action=page">$editText</a> #adminResource('web.admin.plugins.text' 'settings for configurable plugins.')</li>

            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-entries&action=page">$editText</a> #adminResource('blog.entries.text' 'blog entries.')</li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-categories&action=page">$editText</a> #adminResource('blog.categories.text' 'blog categories.')</li>

            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=file-upload&action=page">$uploadText</a> #adminResource('blog.files.text' 'files to your blog.')</li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-users&action=page">$editText</a> #adminResource('blog.edit.users.text' 'blog users for this blog.')</li>

            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&action=logout">$logoutText</a> #adminResource('blog.logout.text' 'of administration console.')</li>
        </ul>
    </div>

#adminPageFooter()
