<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("Edit Plugin Chains")

    <div id="mainClm">
        <table>
            <tr>
                <th>Flavor</th> <th>Plugin chain map</th>
            </tr>
            <form name="edit-blog-plugins" action="." method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="modify-plugin-chains"/>
                <input type="hidden" name="flavor" value="admin"/>
                <input type="hidden" name="plugins" value="edit-blog-plugins"/>
                #foreach ($flavor in $BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_MAP.keySet())
                        <tr>
                            <td>$flavor plugin chain map</td> <td><input name="${flavor}.blojsom-plugin-chain" type="text" size="50" value="$BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_MAP.get($flavor)"/></td>
                        </tr>
                #end
                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" value="Edit blog plugin chains"/>
                        <input type="reset" name="reset" value="Reset"/>
                    </td>
                </tr>
            </form>
        </table>
    </div>

    <div id="sideBar">
        <a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin">Administration</a> console.

        <p/>

        <h6>Available Plugins</h6>
        <ul>
            #foreach ($plugin in $BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_AVAILABLE_PLUGINS.keySet())
            <li>$plugin</li>
            #end
        </ul>
    </div>

#adminPageFooter()