<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('forgotten.password.sent.header' 'Forgotten Password (Sent)')")

<center>
    #adminResource('forgotten.password.sent.text' '')
    <p/>
    Click <a href="$BLOJSOM_BLOG.getBlogURL()">here</a> to get back to the blog.
</center>

#adminPageFooter()