                        #friendlyPermalink($entry)

						<div class="entry">

							<h3><a href="$entryLink" title="$entry.getTitle()">$entry.getTitle()</a></h3>
							<p class="links">
								[<a href="$entry.getBlogCategory().getCategoryURL()" title="$entry.getBlogCategory().getCategory()">#if ($entry.getBlogCategory().getName())$entry.getBlogCategory().getName()#else$entry.getBlogCategory().getCategory()#end </a>] [<a href="$entryLink" title="Permalink">Permalink</a>]
							</p>
							<div>
								$entry.getDescription()
							</div>
							<p>
								#if ($entry.getMetaData() && $entry.getMetaData().get("blog-entry-author"))<span class="blue">Posted on $entry.getDateAsFormat('EEE, d MMM yyyy HH:mm') by $entry.getMetaData().get("blog-entry-author") ($!entry.getMetaData().get("blojsom-plugin-days-since-posted") day(s) old)</span>#end

								#if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-comments-disabled")))<span>Comments [<a href="$entryLink?page=comments">$entry.getNumComments()</a>]</span>#end

								#if ($BLOJSOM_TRACKBACK_PLUGIN_ENABLED.booleanValue() && $entry.supportsTrackbacks() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-trackbacks-disabled")))<span>Trackbacks [<a href="$entryLink?page=trackback">$entry.getNumTrackbacks()</a>]</span>#end

							</p>

							<!-- Trackback Auto Discovery -->
							#set( $totalEntries = $totalEntries + 1)
							#if ($BLOJSOM_PERMALINK)
								#set( $blogDescription = $entry.getEscapedDescription() )
								#if ($blogDescription.length() > 255 )
									#set( $ellipses = "..." )
									#set( $blogDescription = "$blogDescription.substring(0,252)$ellipses" )
								#end
							#end
                            <!--
                                <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                         xmlns:dc="http://purl.org/dc/elements/1.1/"
                                         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
                                    <rdf:Description
                                         rdf:about="$entryLink"
                                         dc:identifier="$entryLink"
                                         dc:title="$entry.getTitle()"
                                         dc:subject="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()"
                                         dc:description="$blogDescription"
                                         dc:creator="$BLOJSOM_BLOG.getBlogOwner()"
                                         dc:date="$entry.getISO8601Date()"
                                         trackback:ping="$entryLink?tb=y" />
                                 </rdf:RDF>
                            -->
						</div>


