
			<div id="header">
				<h1>
					<a href="$BLOJSOM_BLOG.getBlogURL()">$BLOJSOM_BLOG.getBlogName()</a>
					<span>$BLOJSOM_BLOG.getBlogDescription()</span>
				</h1>
				<div id="searchbox">
					<form method="post" action=".">
						<p id="searchlabel"><label for="query">Search:</label></p>
						<p id="searchfield"><input type="text" name="query" value="" /></p>
						<p id="searchimg"><input type="image" src="$BLOJSOM_BLOG.getBlogBaseURL()/resources/$BLOJSOM_USER/asual-search.jpg" value="submit" alt="Search" /></p>
					</form>
				</div>
			</div>
