
			<div id="header">
				<div id="name">
					<h1><a href="$BLOJSOM_BLOG.getBlogURL()" title="$BLOJSOM_BLOG.getBlogName()">$BLOJSOM_BLOG.getBlogName()</a></h1>
					#if($BLOJSOM_BLOG.getBlogDescription())<h2>$BLOJSOM_BLOG.getBlogDescription()</h2>#end

				</div>
				<div id="controls">
					<form id="searchform" method="post" action=".">
						<p>
							<label id="searchlabel" for="searchfield">Search:</label><input id="searchfield" type="text" name="query" value="" />
							<input id="searchimage" type="image" src="$BLOJSOM_BLOG.getBlogBaseURL()/resources/$BLOJSOM_USER/asual-search.jpg" value="submit" alt="Search" title="Click here to search this blog" />
						</p>
					</form>
					<div id="switcher">
						<script type="text/javascript">
							writeSwitcher();
						</script>
						<noscript>
							<p></p>
						</noscript>
					</div>
				</div>
			</div>
