
			<div id="header">
				<div id="name">
					<h1><a href="$BLOJSOM_BLOG.getBlogURL()" title="$BLOJSOM_BLOG.getBlogName()">$BLOJSOM_BLOG.getBlogName()</a></h1>
					#if($BLOJSOM_BLOG.getBlogDescription())<h2>$BLOJSOM_BLOG.getBlogDescription()</h2>#end

				</div>
			</div>
