<?xml version="1.0" encoding="UTF-8"?>
<html>

    <head>
        <title>$BLOJSOM_BLOG.getBlogName() - Update blog category</title>
    </head>

    <body>
        <center>
            <h3>$BLOJSOM_BLOG.getBlogName() - Update blog category</h3>
        </center>
        <a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin">Administration</a> homepage.
        <p />

        <!-- Update blog category form -->
        <center>
            <h3>Update an existing blog category</h3>
            <table border="1">
                <form name="update-blog-category" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="update-blog-category"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-categories"/>
                    <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY_NAME"/>
                    <tr>
                        <td>Category name</td>
                        <td><input type="text" size="50" value="$BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY_NAME" disabled="true"/></td>
                    </tr>
                    <tr>
                        <td>Category meta-data</td>
                        <td><textarea rows="10" cols="80" name="blog-category-meta-data">$!BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY_METADATA</textarea></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="Update category"/>
                                <input type="reset" name="reset" value="Reset"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>
        </center>
        <p/>
    </body>
</html>