<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>$BLOJSOM_BLOG.getBlogName()</title>
<link rel="stylesheet" href="$BLOJSOM_SITE_URL/blojsom.css" />
<link rel="SHORTCUT ICON" href="$BLOJSOM_SITE_URL/favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="$BLOJSOM_BLOG.getBlogURL()?flavor=rss" />
</head>

<body>

<div id="searchbox">
<form class="searchform" name="searchform" method="post" action=".">
<p class="searchtext">
Search:&nbsp;&nbsp;<input size="15" type="text" name="query" value=""/>&nbsp;
<input type="submit" name="submit" value="go"/>
</p>
</form>
</div>


<h1><a href="$BLOJSOM_BLOG.getBlogURL()">$BLOJSOM_BLOG.getBlogName()</a></h1>
<h3>$BLOJSOM_BLOG.getBlogDescription()</h3>

<p>Available categories:
#foreach ($blogCategory in $BLOJSOM_CATEGORIES)
    [<i><a href="$blogCategory.getCategoryURL()">#if ($blogCategory.getName())$blogCategory.getName()#else$blogCategory.getCategory()#end</a></i>]
#end</p>
#set( $totalEntries = 0)
<table cellspacing="0" cellpadding=0 border="0" width="100%">
<tr>
<td width="100%" valign="top">
#foreach ($entry in $BLOJSOM_ENTRIES)
    <div class="entrystyle">
    <p class="weblogtitle">$entry.getTitle() <span class="smalltext">[<a href="$entry.getLink()" title="Permalink to this blojsom entry">Permalink</a>]</span> </p>
    <p class="weblogdateline">$entry.getDate()</p>
    <p>$entry.getDescription()</p>
    </div>
    <p class="weblogbottomline">
    #if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments())
    Comments [<a href="$entry.getLink()&page=comments">$entry.getNumComments()</a>] |
    #end
    Trackbacks [<a href="$entry.getLink()&page=trackback">$entry.getNumTrackbacks()</a>]
    </p>
    #set( $totalEntries = $totalEntries + 1)
#end
</td>
<td  width="100">&nbsp;</td>

<td valign="top" align="center" width="200">

<div class="calendarbox">
<div align="center"><table cellspacing="0" cellpadding=0 border="0"><tr><td colspan="7" align="center"><b>$BLOJSOM_CALENDAR.getCaption()</b></td></tr>

<!-- DOW Name Row -->
<tr>
#foreach( $downame in $BLOJSOM_CALENDAR.getShortDayOfWeekNames())
        #if($downame)
		<td width="19" height="10" align="center" style="font-size:9px">$downame&nbsp;</td>
		#end
#end
</tr>

## Dear Velocity Authors, give us a real for loop!!!!!!

<tr>
    $BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(1,"calendarcolumn")
</tr>
<tr>
    $BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(2,"calendarcolumn")
</tr>
<tr>
    $BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(3,"calendarcolumn")
</tr>
<tr>
    $BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(4,"calendarcolumn")
</tr>
<tr>
    $BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(5,"calendarcolumn")
</tr>
<tr>
    $BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(6,"calendarcolumn")
</tr>

<tr>
<td colspan="7" class="calendarcolumn">$BLOJSOM_CALENDAR_VTLHELPER.getPreviousMonth()&nbsp;&nbsp;&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getToday()&nbsp;&nbsp;&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getNextMonth()</td>
</tr>
</table>
</div>
</div>
</td>
</tr>
</table >

#if ($totalEntries > 0)
    <p>Available categories:
    #foreach ($blogCategory in $BLOJSOM_CATEGORIES)
        [<i><a href="$blogCategory.getCategoryURL()">#if ($blogCategory.getName())$blogCategory.getName()#else$blogCategory.getCategory()#end</a></i>]
    #end</p>
#end

<p>
<a href="http://blojsom.sf.net"><img src="$BLOJSOM_SITE_URL/powered-by-blojsom.gif" border="0" alt="Powered By blojsom" /></a>&nbsp;&nbsp;
<a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rss"><img src="$BLOJSOM_SITE_URL/xml.gif" border="0" alt="RSS Feed" /></a>&nbsp;
<a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rss2"><img src="$BLOJSOM_SITE_URL/rss.gif" border="0" alt="RSS2 Feed" /></a>&nbsp;
<a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rdf"><img src="$BLOJSOM_SITE_URL/rdf.gif" border="0" alt="RDF Feed"/></a>
</p>

<!-- Optional Code if you are using the referer plugin -->
#if($REFERER_HISTORY)
  <p class="weblogtitle">Referers:</p><p class="weblogdateline">
  #foreach( $referentry in $REFERER_HISTORY.keySet())
      <a href="$referentry">$referentry</a> ($REFERER_HISTORY.get($referentry))<br/>
  #end
  </p>
#end

</body>

</html>