==[ Comment Details ]==========================================================

Comment on: <a href="#BlogURL()$BLOJSOM_COMMENT_PLUGIN_BLOG_ENTRY.getCategory()?permalink=$BLOJSOM_COMMENT_PLUGIN_BLOG_ENTRY.getTitle()&amp;page=comments">$BLOJSOM_COMMENT_PLUGIN_BLOG_ENTRY.getTitle()</a>

Comment by: <a href="mailto:$!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getAuthorEmail()">$!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getAuthor()</a> - $!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getAuthorURL()
   Left on: $!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getCommentDate()
IP Address: IP Address: $!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getIp()
    Status: $!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getStatus()

==[ Comment Administration ]===================================================

     Approve comment: <a href="#BlogAdminURL()?flavor=admin&amp;action=approve-blog-comments&amp;plugins=edit-blog-entries&amp;blog-entry-id=$BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getBlogEntry().getId()&amp;blog-comment-id=$BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getId()">Approve comment</a>
      Delete comment: <a href="#BlogAdminURL()?flavor=admin&amp;action=delete-blog-comments&amp;plugins=edit-blog-entries&amp;blog-entry-id=$BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getBlogEntry().getId()&amp;blog-comment-id=$BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getId()">Delete comment</a>

==[ Comment ]==================================================================

$!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getComment()
