<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$BLOJSOM_BLOG.getBlogLanguage()">
	<head>
		#parse( "vampire-head.vm" )
	</head>
	<body>
		<div id="main">
			<!-- Header -->
			#parse( "vampire-header.vm" )

			<!-- Content -->
			<div id="contentBodyLeft">
				<div id="contentBodyRight">
					<div id="contentBodyCenter">
						<div id="contentHeadLeft">
							<div id="contentHeadRight">
								<div id="contentHeadCenter"></div>
							</div>
						</div>
						<div id="content">
							<!-- Entries -->
							<div id="entries">
								#parse( "vampire-nav.vm" )

								#set( $totalEntries = 0)
								#foreach ($entry in $BLOJSOM_ENTRIES)
								#parse( "vampire-entry.vm" )

								<p id="trackback">[<a href="$permalink?tb=y" title="Trackback">Trackback</a>]</p>
								<div>
									#foreach ($entryTrackback in $entry.getTrackbacks())

										<div class="trackback">

											<span class="blue">Left on $entryTrackback.getDateAsFormat('EEE, d MMM yyyy HH:mm') by <a href="$entryTrackback.getUrl()" rel="nofollow">#if ($entryTrackback.getBlogName())$entryTrackback.getBlogName()#else$entryTrackback.getUrl()#end</a></span>
											#if ($entryTrackback.getTitle()) <a href="$entryTrackback.getUrl()" rel="nofollow">$entryTrackback.getTitle()</a> #end<br />
											#if ($entryTrackback.getExcerpt()) $entryTrackback.getExcerpt() #end

										</div>
									#end

								</div>

								#end

							</div>
							<div id="column">
								#parse( "vampire-column.vm" )
							</div>
						</div>
						<div id="contentFootLeft">
							<div id="contentFootRight">
								<div id="contentFootCenter"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Footer -->
			#parse( "vampire-footer.vm" )
		</div>
	</body>
</html>

