						<div id="calendar">
							<table>
								<caption>$BLOJSOM_CALENDAR.getCaption()</caption>
								<thead>
									<tr>#foreach( $downame in $BLOJSOM_CALENDAR.getShortDayOfWeekNames())#if($downame)<th>$downame&nbsp;</th>#end#end</tr>
								</thead>
								<tfoot>
									<tr><td colspan="7">$BLOJSOM_CALENDAR_VTLHELPER.getPreviousMonth()&nbsp;|&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getToday()&nbsp;|&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getNextMonth()</td></tr>
								</tfoot>
								<tbody>
									#foreach( $number in [1..6] )

									<tr>$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow($number,"calendarcolumn")</tr>
									#end
								</tbody>
							</table>
						</div>
						<div>
							<strong>About:</strong>
							<p>E-mail: <a href="mailto:$BLOJSOM_PLUGIN_SIMPLE_OBFUSCATION.obfuscate($BLOJSOM_BLOG.getBlogOwnerEmail())">$BLOJSOM_BLOG.getBlogOwner()</a></p>
						</div>
						<div>
							<strong>Categories:</strong>
							<ul>#foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)<li><a href="$blogCategory.getCategoryURL()">#if ($blogCategory.getName())$blogCategory.getName()#else$blogCategory.getCategory()#end</a></li>#end</ul>
						</div>
						#set ($entryCount = 0)
						#foreach ($entry in $BLOJSOM_ENTRIES)
							#set ($entryCount = $entryCount + 1)
						#end
						#if (!$BLOJSOM_PERMALINK && $entryCount > 0)
						<div>
							<strong>Recently:</strong>
							<ul>#foreach($entry in $BLOJSOM_ENTRIES) #friendlyPermalink($entry)<li><a href="$entryLink">$entry.getTitle()</a></li>#end </ul>
						</div>
						#end
						<div>
							<strong>Syndication:</strong>
							<p><a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rdf">XML</a> <a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rss2">RSS</a> <a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=atom">ATOM</a></p>
						</div>
						<div id="blojsom">
							<a href="http://blojsom.sf.net"><img src="$BLOJSOM_BLOG.getBlogBaseURL()/resources/$BLOJSOM_USER/vampire-poweredby.jpg" alt="Powered by blojsom" /></a>
						</div>

