<p>Trackback on: $!BLOJSOM_TRACKBACK_PLUGIN_BLOG_ENTRY.getLink()&page=trackback
<br />
 Trackback from: <a href="$!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getUrl()">$!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getBlogName()</a><br />
Trackback title: $!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getTitle()<br />
        Left on: $!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getTrackbackDate()<br />
     IP Address: $!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getMetaData().get("BLOJSOM_TRACKBACK_PLUGIN_METADATA_IP")<br />
<br />
==[ Trackback Administration ]===================================================<br />
<br />
Administration login: <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin">Login</a><br />
   Approve trackback: <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&action=approve-blog-trackbacks&plugins=edit-blog-entries&blog-category-name=$BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getBlogEntry().getEncodedCategory()&blog-entry-id=$BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getBlogEntry().getPermalink()&blog-trackback-id=$BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getId()">Approve trackback</a><br />
    Delete trackback: <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&action=delete-blog-trackbacks&plugins=edit-blog-entries&blog-category-name=$BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getBlogEntry().getEncodedCategory()&blog-entry-id=$BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getBlogEntry().getPermalink()&blog-trackback-id=$BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getId()">Delete trackback</a><br />
<br />
==[ Trackback ]==========================================================<br />
<br />
$!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getExcerpt()
</p>