<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('console.header' '')")

    <ul id="globalnav">
        <li><a href="#" class="here">#adminResource('administration.text' '')</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-categories&action=page">#adminResource('edit.blog.categories.page.header' '')</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry&blog-category-name=/">#adminResource('entries.page.header' '')</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-properties&action=page">#adminResource('weblog.settings.text' '')</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-plugins&action=page">#adminResource('plugin.settings.text' '')</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogURL()">#adminResource('view.site.text' '')</a></li>
        <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&action=logout">#adminResource('logout.text' '')</a></li>
    </ul>

    <div id="contents">

        #showErrorMessage()

        <p>#adminResource('administration.welcome.message' '')</p>
    </div>

#adminPageFooter()
