###############################################
## Blog Information Macros
###############################################

#**
 * Display the name of your blog
 *#
#macro(BlogName)$BLOJSOM_BLOG.getBlogName()#end

#**
 * Display the escaped name of your blog
 *#
#macro(EscapedBlogName)$BLOJSOM_BLOG.getEscapedBlogName()#end

#**
 * Display the description of your blog
 *#
#macro(BlogDescription)$BLOJSOM_BLOG.getBlogDescription()#end

#**
 * Display the escaped description of your blog
 *#
#macro(EscapedBlogDescription)$BLOJSOM_BLOG.getEscapedBlogDescription()#end

#**
 * Display the URL of your blog
 *#
#macro(BlogURL)$BLOJSOM_BLOG.getBlogURL()#end

#**
 * Display the administration URL of your blog
 *#
#macro(BlogAdminURL)$BLOJSOM_BLOG.getBlogAdminURL()#end

#**
 * Display the base URL of your blog
 *#
#macro(BlogBaseURL)$BLOJSOM_BLOG.getBlogBaseURL()#end

#**
 * Display the language of your blog
 *#
#macro(BlogLanguage)$BLOJSOM_BLOG.getBlogLanguage()#end

#**
 * Display the country of your blog
 *#
#macro(BlogCountry)$BLOJSOM_BLOG.getBlogCountry()#end

#**
 * Display the owner's name of your blog
 *#
#macro(BlogOwner)$BLOJSOM_BLOG.getBlogOwner()#end

#**
 * Display the owner's e-mail address of your blog
 *#
#macro(BlogOwnerEmail)$BLOJSOM_BLOG.getBlogOwnerEmail()#end

#**
 * Display the default flavor of your blog
 *#
#macro(BlogDefaultFlavor)$BLOJSOM_BLOG.getBlogDefaultFlavor()#end

###############################################
##  Entry Macros
###############################################

#**
 * Sets a page variable, $totalCommentsPendingModeration, with the total number of comments pending moderation
 *
 * @param entry Blog entry
 *#
#macro(TotalCommentsPendingModeration $entry)
#set($totalCommentsPendingModeration = 0)
#foreach ($entryComment in $entry.getComments())
    #if ($!entryComment.getMetaData().get("BLOJSOM_COMMENT_MODERATION_PLUGIN_APPROVED").equals("false"))
        #set($totalCommentsPendingModeration = $totalCommentsPendingModeration + 1)
    #end
#end
#end

#**
 * Sets a page variable, $totalCommentsApproved, with the total number of comments that have been approved
 *
 * @param entry Blog entry
 *#
#macro(TotalCommentsApproved $entry)
#set($totalCommentsApproved = 0)
#foreach ($entryComment in $entry.getComments())
    #if ($!entryComment.getMetaData().get("BLOJSOM_COMMENT_MODERATION_PLUGIN_APPROVED").equals("true"))
        #set($totalCommentsApproved = $totalCommentsApproved + 1)
    #end
#end
#end

#**
 * Sets a page variable, $totalTrackbacksPendingModeration, with the total number of trackbacks pending moderation
 *
 * @param entry Blog entry
 *#
#macro(TotalTrackbacksPendingModeration $entry)
#set($totalTrackbacksPendingModeration = 0)
#foreach ($entryTrackback in $entry.getTrackbacks())
    #if ($!entryTrackback.getMetaData().get("BLOJSOM_TRACKBACK_MODERATION_PLUGIN_APPROVED").equals("false"))
        #set($totalTrackbacksPendingModeration = $totalTrackbacksPendingModeration + 1)
    #end
#end
#end

#**
 * Sets a page variable, $totalTrackbacksApproved, with the total number of trackbacks that have been approved
 *
 * @param entry Blog entry
 *#
#macro(TotalTrackbacksApproved $entry)
#set($totalTrackbacksApproved = 0)
#foreach ($entryTrackback in $entry.getTrackbacks())
    #if ($!entryTrackback.getMetaData().get("BLOJSOM_TRACKBACK_MODERATION_PLUGIN_APPROVED").equals("true"))
        #set($totalTrackbacksApproved = $totalTrackbacksApproved + 1)
    #end
#end
#end

#**
 * Sets a page variable, $totalPingbacksPendingModeration, with the total number of pingbacks pending moderation
 *
 * @param entry Blog entry
 *#
#macro(TotalPingbacksPendingModeration $entry)
#set($totalPingbacksPendingModeration = 0)
#foreach ($entryPingback in $entry.getPingbacks())
    #if ($!entryPingback.getMetaData().get("BLOJSOM_PINGBACK_APPROVED").equals("false"))
        #set($totalPingbacksPendingModeration = $totalPingbacksPendingModeration + 1)
    #end
#end
#end

#**
 * Sets a page variable, $totalPingbacksApproved, with the total number of pingbacks that have been approved
 *
 * @param entry Blog entry
 *#
#macro(TotalPingbacksApproved $entry)
#set($totalPingbacksApproved = 0)
#foreach ($entryPingback in $entry.getPingbacks())
    #if ($!entryPingback.getMetaData().get("BLOJSOM_PINGBACK_APPROVED").equals("true"))
        #set($totalPingbacksApproved = $totalPingbacksApproved + 1)
    #end
#end
#end

#**
 * Displays the author of a blog entry (metadata: blog-entry-author)
 *
 * @param entry Blog entry
 *#
#macro(Author $entry)#if ($entry.getMetaData() && $entry.getMetaData().get("blog-entry-author"))$entry.getMetaData().get("blog-entry-author")#end#end

#**
 * Sets a page variable, $commentsAllowed, to true if comments are allowed on an entry
 *
 * @param $entry Blog entry
 *#
#macro(CommentsAllowed $entry)
#if ($entry.supportsComments())
    #set($commentsAllowed = true)
#end
#end

#**
 * Sets a page variable, $trackbacksAllowed, to true if trackbacks are allowed on an entry
 *
 * @param $entry Blog entry
 *#
#macro(TrackbacksAllowed $entry)
#if ($entry.supportsTrackbacks())
    #set($trackbacksAllowed = true)
#end
#end

#**
 * Sets a page variable, $pingbacksAllowed, to true if pingbacks are allowed on an entry
 *
 * @param $entry Blog entry
 *#
#macro(PingbacksAllowed $entry)
#if ($entry.supportsPingbacks())
    #set($pingbacksAllowed = true)
#end
#end

#**
 * Displayes the days since an entry has been posted (metadata: blojsom-plugin-days-since-posted)
 *
 * @param entry Blog entry
 *#
#macro(DaysSincePosted $entry)$!entry.getMetaData().get("blojsom-plugin-days-since-posted")#end

#**
 * Format the date for a blog entry
 *
 * @param $entry Blog entry
 * @param $format Date format
 *#
#macro(FormatDate $entry $format)$entry.getDateAsFormat($format)#end

#**
 * Displays the proper name for a category (if available), otherwise just display the category URL
 *
 * @param $entry Blog entry
 *#
#macro(EntryCategoryName $entry)#if ($entry.getBlogCategory().getDescription()) $entry.getBlogCategory().getDescription() #else $entry.getBlogCategory().getName()#end#end

#**
 * Output the trackback auto-discovery RDF fragment
 *
 * @param $entry Blog entry
 * @param $runFriendlyPermalink If the runFriendlyPermalink macro should be run
 *#
#macro(TrackbackAutoDiscovery $entry $runFriendlyPermalink)
<!-- Trackback Auto Discovery -->
#if ($runFriendlyPermalink)
    #FriendlyPermalink($entry)
#end
#set( $blogDescription = $entry.getEscapedDescription() )
#if ($blogDescription.length() > 255 )
    #set( $ellipses = "..." )
    #set( $blogDescription = "$blogDescription.substring(0,252)$ellipses" )
#end
<!--
    <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
             xmlns:dc="http://purl.org/dc/elements/1.1/"
             xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
        <rdf:Description
             rdf:about="$entryLink"
             dc:identifier="$entryLink"
             dc:title="$entry.getEscapedTitle()"
             dc:subject="$entry.getEncodedCategory()"
             dc:description="$blogDescription.replaceAll("-{2,}+","")"
             dc:creator="#BlogOwner()"
             dc:date="$entry.getISO8601Date()"
             trackback:ping="$entryLink?tb=y&amp;entry_id=$entry.getId()" />
     </rdf:RDF>
-->
#end

#**
 * Sets a page variable, $xmlrpcLink, with the XML-RPC link for a given entry in $BLOG_BASE_URL/$xmlrpcurl/$BLOJSOM_BLOG_ID/$category/yyyy/MM/dd/permalink format
 *
 * @param $entry Blog entry
 * @param $xmlrpcurl XML-RPC servlet name, if blank, &quot;xmlrpc&quot; will be used
 *#
#macro(XMLRPCLink $entry $xmlrpcurl)
    #set ($categoryForEntry = $entry.getBlogCategory().getEncodedName())
    #if ("" == $xmlrpcurl)
        #set($xmlrpcurl = "xmlrpc")
    #end
    #set ($xmlrpcLink = "$BLOJSOM_BLOG.getBlogBaseURL()/$xmlrpcurl/$BLOJSOM_BLOG_ID$categoryForEntry$entry.getDateAsFormat('yyyy')/$entry.getDateAsFormat('MM')/$entry.getDateAsFormat('dd')/$entry.getPostSlug()")
#end

#**
 * Sets a page variable, $entryLink, with a friendly permalink in $BLOG_URL/$category/permalink format
 *
 * @param $entry Blog entry
 *#
#macro(DatelessFriendlyPermalink $entry)
    #set ($categoryForEntry = $entry.getBlogCategory().getEncodedName())
    #set ($entryLink = "$BLOJSOM_BLOG.getBlogURL()$categoryForEntry$entry.getPostSlug()")
#end

#**
 * Sets a page variable, $entryLink, with a friendly permalink in $BLOG_URL/$category/yyyy/MM/dd/permalink format
 *
 * $entry Blog entry
 *#
#macro(FriendlyPermalink $entry)
    #set ($categoryForEntry = $entry.getBlogCategory().getEncodedName())
    #set ($entryLink = "$BLOJSOM_BLOG.getBlogURL()$categoryForEntry$entry.getDateAsFormat('yyyy')/$entry.getDateAsFormat('MM')/$entry.getDateAsFormat('dd')/$entry.getPostSlug()")
#end

###############################################
## Comment/Trackback Macros
###############################################

###############################################
## Category Macros
###############################################

#**
 * Output the category name if available
 *
 * @param $blogCategory Blog category
 *#
#macro(CategoryName $blogCategory)#if ($blogCategory.getDescription()) $blogCategory.getDescription() #else $blogCategory.getName()#end#end

#**
 * Output the category name without leading or trailing /'s
 *
 * @param $category Blog category
 *#
#macro(SanitizedCategory $category)
#set($categoryLength = $category.length())
#set($lengthMinusOne = $categoryLength - 1)
#if ($categoryLength > 1)
#if ($category.startsWith("/") && $category.endsWith("/"))
    #set($sanitizedCategory = $category.substring(1, $lengthMinusOne))
#elseif ($category.startsWith("/"))
    #set($sanitizedCategory = $category.substring(1))
#else
    #set($sanitizedCategory = $category.substring(0, $lengthMinusOne))
#end
#else
    #set($sanitizedCategory = "")
#end
#end

#macro(CategoryName $category)$category.getName().replaceAll("/", "")#end
#macro(CategoryDescription $category)#if (!("" == $category.getDescription()))$category.getDescription()#else$category.getName().replaceAll("/", "")#end#end

###############################################
## Template Snippet Macros
###############################################

#**
 * Display the blojsom calendar
 *#
#macro(Calendar)
<div id="calendar">
    <table>
        <caption>$BLOJSOM_CALENDAR.getCaption()</caption>
        <thead>
            <tr>#foreach( $downame in $BLOJSOM_CALENDAR.getShortDayOfWeekNames())#if($downame)<th>$downame&nbsp;</th>#end#end</tr>
        </thead>
        <tfoot>
            <tr><td colspan="7">$BLOJSOM_CALENDAR_VTLHELPER.getPreviousMonth()&nbsp;|&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getToday()&nbsp;|&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getNextMonth()</td></tr>
        </tfoot>
        <tbody>
            #foreach( $number in [1..6] )
            <tr>$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow($number,"calendarcolumn")</tr>
            #end
        </tbody>
    </table>
</div>
#end

#**
 * Display the comment form for an entry with comment preview
 *
 * @param $entry Blog entry
 *#
#macro(CommentFormWithPreview $entry)
#if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments())
    <form id="commentform" method="post" action=".">
        <p>
            <input type="hidden" name="comment" value="y" />
            <input type="hidden" name="page" value="comments" />
            <input type="hidden" name="category" value="$BLOJSOM_REQUESTED_CATEGORY.getCategory()" />
            <input type="hidden" name="permalink" value="$entry.getPostSlug()" />
        </p>

        <p class="label">Author (<span class="red">*</span>):</p>
        <p class="input"><input type="text" name="author" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR)$BLOJSOM_COMMENT_PLUGIN_AUTHOR#end" class="fixed" /></p>

        <p class="label">E-mail:</p>
        <p class="input"><input type="text" name="authorEmail" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR_EMAIL)$BLOJSOM_COMMENT_PLUGIN_AUTHOR_EMAIL#end" class="fixed" /></p>

        <p class="label">URL: </p>
        <p class="input"><input type="text" name="authorURL" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR_URL)$BLOJSOM_COMMENT_PLUGIN_AUTHOR_URL#end" class="fixed" /></p>

        <p class="label">Comment (<span class="red">*</span>):</p>
        <p class="input"><textarea name="commentText" id="commentText" rows="7" cols="55" onkeyup="reloadPreviewDiv();" class="fixed"></textarea></p>

        <p class="label">&nbsp;</p>
        <p class="input"><input type="checkbox" name="remember" #if ($BLOJSOM_COMMENT_PLUGIN_REMEMBER_ME)checked #end /> Remember me?</p>

        <p />

        <p class="label">&nbsp;</p>
        <p class="input"><input type="submit" name="submit" value="Comment" class="button" /><input type="reset" name="reset" value="Reset" class="button" /></p>
    </form>

    <h3>Live Comment Preview:</h3>
    <div id="commentPreview">&nbsp;</div>
#end
#end

#**
 * Display previous / next navigation links
 *
 * @param $homeText Text to display to go back to the main blog URL
 *#
#macro(NavigationLinks $homeText)#if ($BLOJSOM_PERMALINK && $BLOJSOM_BLOG.getLinearNavigationEnabled()) #if ($BLOJSOM_PERMALINK_PREVIOUS_ENTRY) #friendlyPermalink($BLOJSOM_PERMALINK_PREVIOUS_ENTRY) <a href="$entryLink">&lt; $!BLOJSOM_PERMALINK_PREVIOUS_ENTRY.getTitle()</a> | #end <a href="$BLOJSOM_BLOG.getBlogURL()">$homeText</a> #if ($BLOJSOM_PERMALINK_NEXT_ENTRY) | #friendlyPermalink($BLOJSOM_PERMALINK_NEXT_ENTRY) <a href="$entryLink">$!BLOJSOM_PERMALINK_NEXT_ENTRY.getTitle() &gt;</a>#end#end#end

#**
 * Display the search box
 *#
#macro(SearchBox)
<div id="searchbox">
    <form method="post" action="$BLOJSOM_BLOG.getBlogURL()">
        <p id="searchlabel"><label for="query">Search:</label></p>
        <p id="searchfield"><input type="text" name="query" value="" /></p>
        <p id="searchimg"><input type="image" src="$BLOJSOM_BLOG.getBlogBaseURL()/search.png" value="submit" alt="Search" /></p>
    </form>
</div>
#end

#**
 * Create a link to a resource item, $BLOG_BASE_URL/resources/$BLOJSOM_BLOG_ID/$item
 *
 * @param $item Resource item
 *#
#macro(Resource $item)$BLOJSOM_BLOG.getBlogBaseURL()/resources/$BLOJSOM_BLOG_ID/$item#end

#**
 * Display a list of links to monthly archives
 *
 * @param $startingMonth Starting month for the archives (1..12)
 * @param $startingYear Starting year for the archives
 *#
#macro(MonthlyArchive $startingMonth $startingYear)
<ul>
    #set ($currentMonth = $BLOJSOM_CALENDAR.getCurrentMonth() + 1)
    #set ($totalMonths = 12)
    #set ($currentYear = $BLOJSOM_CALENDAR.getCurrentYear())
    #set ($padding = 0)
    #foreach ($year in [$currentYear..$startingYear])
        #set ($monthIndex = 1)
        #if ($year == $startingYear)
            #set($monthIndex = $startingMonth)
        #end
        #if ($year == $currentYear)
            #set($totalMonths = $currentMonth)
        #else
            #set ($totalMonths = 12)
        #end
        #foreach ($month in [$totalMonths..$monthIndex])
            #set ($calMonth = $month - 1)
    <li><a href="#BlogURL()$year/#if($month < 10)$padding#end$month/">$BLOJSOM_CALENDAR.getMonthName($calMonth) $year</a></li>
        #end
    #end
</ul>
#end

###############################################
## Plugin Macros
###############################################

#**
 * Display the weather information made available by the Weather plugin
 *#
#macro(DisplayWeatherForecast $weatherInfo)
<p><span>$weatherInfo.getLocation()</span></p>
<p>Temperature: &nbsp;<span>$weatherInfo.getFahrenheit() / $weatherInfo.getCelcius()</span></p>
<p>Visibility: &nbsp;<spam>$weatherInfo.getVisibility()</span></p>
<p>Qind: &nbsp;<span>$weatherInfo.getWind()</span></p>
<p><a href="$weatherInfo.getHistoryUrl()" class="rounded" title="Detailed Weather History"><span>Detailed Weather History</span></a></p>
#end

#**
 * Output the math comment question made available by the Math Comment Authenticator plugin
 *#
#macro(MathCommentQuestion)$!BLOJSOM_MATH_AUTHENTICATOR_PLUGIN_VALUE1 $!BLOJSOM_MATH_AUTHENTICATOR_PLUGIN_OPERATION $!BLOJSOM_MATH_AUTHENTICATOR_PLUGIN_VALUE2#end

#**
 * Output the math comment question as a form item to add to your comment page
 *#
#macro(MathCommentFormItem)
<div class="label">Answer $!BLOJSOM_MATH_AUTHENTICATOR_PLUGIN_VALUE1 $!BLOJSOM_MATH_AUTHENTICATOR_PLUGIN_OPERATION $!BLOJSOM_MATH_AUTHENTICATOR_PLUGIN_VALUE2 =</div>
<div class="input"><input type="text" name="mathAnswerCheck" value="" class="fixed" /></div>
#end

#**
 * Outputs a page variable, $entryLink, which takes information from the Internal Aggregator plugin and displays a friendly permalink
 *
 * @param $entry Blog entry
 *#
#macro(MultiBlogFriendlyPermalink $entry)
    #set ($categoryForEntry = $entry.getBlogCategory().getCategory())
    #if ($categoryForEntry == "/") #set($categoryForEntry = "") #end
    #set ($entryLink = "$entry.getMetaData().get('BLOJSOM_PLUGIN_INTERNAL_AGGREGATOR_BLOG_URL')$categoryForEntry$entry.getDateAsFormat('yyyy')/$entry.getDateAsFormat('MM')/$entry.getDateAsFormat('dd')/$entry.getPostSlug()")
#end

#**
 * Run a piece of text through the obfuscate method from the Obfuscation plugin
 *
 * @param $text Text
 *#
#macro(Obfuscate $text)$!BLOJSOM_PLUGIN_SIMPLE_OBFUSCATION.obfuscate($text)#end

#**
 * Output the RSS enclosure item for an entry
 *
 * @param $entry Blog entry
 *#
#macro(RSSEnclosure $entry)$!entry.getMetaData().get("rss-enclosure")#end

#**
 * Output the Technorati tag links for a blog entry
 *
 * @param $entry Blog entry
 *#
#macro(TechnoratiTags $entry)
#if ($entry.getMetaData().get("TECHNORATI_TAG_LINKS"))
#set($technoratiTags = $entry.getMetaData().get("TECHNORATI_TAG_LINKS"))
<!-- technorati tags start --><p style="text-align:right;font-size:10px;">Technorati Tags:
#foreach($technoratiTag in $technoratiTags)
$technoratiTag
#end
</p><!-- technorati tags end -->
#end
#end

###############################################
## Administrative Macros
###############################################

#**
 * Create a link to edit an entry
 *
 * @param $entry Blog entry
 *#
#macro(EditEntry $entry)#if ($BLOJSOM_USER_AUTHENTICATED)<a href="#BlogAdminURL()?action=edit-blog-entry&flavor=admin&plugins=edit-blog-entries&blog-category-name=$entry.getCategory()&blog-entry-id=$entry.getPermalink()">Edit Entry</a>#end#end

#**
 * Create a link to delete an entry
 *
 * @param $entry Blog entry
 *#
#macro(DeleteEntry $entry)#if ($BLOJSOM_USER_AUTHENTICATED)<a href="#BlogAdminURL()?action=delete-blog-entry&flavor=admin&plugins=edit-blog-entries&blog-category-name=$entry.getCategory()&blog-entry-id=$entry.getPermalink()">Delete Entry</a>#end#end

#**
 * Create a link to delete the given comment
 *
 * @param $entry Blog entry
 * @param $blogComment Comment
 *#
#macro(DeleteComment $entry $blogComment)#if ($BLOJSOM_USER_AUTHENTICATED)<a href="#BlogAdminURL()?action=delete-blog-comments&flavor=admin&plugins=edit-blog-entries&blog-category-name=$entry.getCategory()&blog-entry-id=$entry.getPermalink()&blog-comment-id=$blogComment.getId()">Delete Comment</a>#end#end

#**
 * Create a link to delete the given trackback
 *
 * @param $entry Blog entry
 * @param $trackback Trackback
 *#
#macro(DeleteTrackback $entry $trackback)#if ($BLOJSOM_USER_AUTHENTICATED)<a href="#BlogAdminURL()?action=delete-blog-trackbacks&flavor=admin&plugins=edit-blog-entries&blog-category-name=$entry.getCategory()&blog-entry-id=$entry.getPermalink()&blog-trackback-id=$trackback.getId()">Delete Trackback</a>#end#end

#**
 * Create a link to delete the given pingback
 *
 * @param $entry Blog entry
 * @param $trackback Pingback
 *#
#macro(DeletePingback $entry $pingback)#if ($BLOJSOM_USER_AUTHENTICATED)<a href="#BlogAdminURL()?action=delete-blog-pingbacks&flavor=admin&plugins=edit-blog-entries&blog-category-name=$entry.getCategory()&blog-entry-id=$entry.getPermalink()&blog-pingback-id=$pingback.getId()">Delete Pingback</a>#end#end
