<html>
    <head>
        <title>#BlogName() - $page</title>
        <!-- CSS -->
        <style type="text/css" media="screen">
        @import "#BlogBaseAdminURL()/administration/blojsom-administration.css";
        </style>
        <link rel="SHORTCUT ICON" href="#BlogBaseAdminURL()/favicon.ico" />
        <script type="text/javascript" src="#BlogBaseAdminURL()/administration/blojsom-menu.js"></script>
        <script type="text/javascript" src="#BlogBaseAdminURL()/administration/javascript/prototype.js"></script>
        <script type="text/javascript" src="#BlogBaseAdminURL()/administration/javascript/scriptaculous.js"></script>
    </head>
