
			<div id="header">
				<h1>
					<a href="$BLOJSOM_BLOG.getBlogURL()">$BLOJSOM_BLOG.getBlogName()</a>
					<span>$BLOJSOM_BLOG.getBlogDescription()</span>
				</h1>
				<div id="controls">
					<form method="post" action=".">
						<p>
							<label id="searchlabel" for="searchfield">Search:</label><input id="searchfield" type="text" name="query" value="" />
							<input id="searchimage" type="image" src="$BLOJSOM_BLOG.getBlogBaseURL()/resources/$BLOJSOM_USER/vampire-search.jpg" value="submit" alt="Search" />
						</p>
					</form>
					<div id="switcher">
						<a id="switchlink" href="#" onclick="switchLayout(); return false;">Switch to Elastic Layout</a>
					</div>
				</div>
			</div>
