 <th colspan="2">#adminResource('file.attachment.text' 'File Attachment')</th>
 <tr>
   <td>#adminResource('file.enclosure.text' 'File Attachment')</td>
   <td><select name="file-attachment"><option value="">#adminResource('attachment.selection.text' '-- Select a file for attaching to this posting--')</option>
        #foreach ($filename in $PLUGIN_FILE_ATTACHMENT_FILES.keySet())
       <option value="$filename" #if($filename.equals($FILE_ATTACHMENT)) SELECTED #end>$filename</option>
        #end
      </select></td>
 </tr>
 <tr>
    <td colspan="2">#adminResource('file.attachment.explicit.text' 'The file should be explicitly uploaded into the blog server using File Upload feature of Blog Service. To access File Upload feature go to Administration Consol=>Weblog Entries=>Files')</td>
  </tr>
