						#set ($categoryForEntry = $entry.getBlogCategory().getCategory())
						#if ($categoryForEntry == "/") #set($categoryForEntry = "") #end
						#friendlyPermalink($entry)
                        #set($permalink = $entryLink)
						
						<h2>
							<a href="$permalink" title="Permalink to $entry.getTitle()">$entry.getTitle()</a>
							<span class="category">
							[<a href="$entry.getBlogCategory().getCategoryURL()" title="Retrieve all entries for this category">
								#if ($entry.getBlogCategory().getName())
									$entry.getBlogCategory().getName()
								#else
									$entry.getBlogCategory().getCategory()
								#end
							</a>]
							</span>
						</h2>
						
						$entry.getDescription()
						<p class="entry-footer">
							<span class="datestamp">$entry.getDateAsFormat("dd.MMM.yy")</span>&nbsp;
							<span class="timestamp">$entry.getDateAsFormat("h:mm a, z") | </span>
							<span class="words">Words ($!entry.getMetaData().get("blojsom-plugin-word-count")) | </span>
							<span class="comment">
							#if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-comments-disabled")))
								<a href="$permalink?page=comments" title="C'mon, you know you want to">$entry.getNumComments() Comments</a> |
							#end</span>
							<span class="trackback">
							#if ($BLOJSOM_TRACKBACK_PLUGIN_ENABLED.booleanValue() && $entry.supportsTrackbacks() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-trackbacks-disabled")))
								<a href="$permalink()?page=trackback" title="Credit to the source">$entry.getNumTrackbacks() Trackbacks</a>
							#end</span>
						</p>
