<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        #parse("shrubbery-head.vm")
    </head>
<body>

#parse( "shrubbery-header.vm" )
#parse( "shrubbery-categories.vm" )

<div class="rc">
#parse( "shrubbery-calendar.vm" )
#parse( "shrubbery-sidebars.vm" )
</div><div class="lc">
#set( $totalEntries = 0)
#foreach ($entry in $BLOJSOM_ENTRIES)
  #parse("shrubbery-entry.vm")

#end

#parse( "shrubbery-categories.vm" )

#parse( "shrubbery-pbb.vm" )

</body></html>

