#AdministrationHeader("#adminResource('theme.switcher.settings.text' 'Theme Switcher Settings')")

<body>
    <div id="wrap">

        <h1>Blosjom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Switch theme -->
                <div class="mainClm">
                    <h3>#adminResource('switch.theme.text' 'Switch theme')</h3>
                    <table>
                        <form name="switch-theme" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="switch-theme"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="theme-switcher"/>
                            <tr>
                                <td>#adminResource('current.html.theme' 'Current html theme')</td>
                                <td><b>$CURRENT_HTML_THEME</b></td>
                            </tr>
                            <tr>
                                <td>#adminResource('available.themes.text' 'Available themes')</td>
                                <td>
                                    <select name="theme">
                                    #foreach ($theme in $THEME_SWITCHER_PLUGIN_AVAILABLE_THEMES)
                                        #set ($selected="")
                                        #set ($mark="")
                                        #if ($CURRENT_HTML_THEME.equals($theme))
                                            #set ($selected="SELECTED")
                                            #set ($mark=" (current)")
                                        #end
                                        <option value="$theme" $selected>$theme $mark</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>#adminResource('modify.theme.for.flavor.text' 'Modify theme for flavor?')</td>
                                <td>
                                    <select name="flavor-name">
                                    #foreach ($flavor in $THEME_SWITCHER_PLUGIN_FLAVORS)
                                        #if (!$flavor.equals("admin"))
                                        <option value="$flavor" #if ($THEME_SWITCHER_PLUGIN_DEFAULT_FLAVOR.equals($flavor)) SELECTED #end>$flavor</option>
                                        #end
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('switch.theme.text' 'Switch theme')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                #DisplayTemplateAdditions()                
            </div>
        </div>
    </div>
</body>

#AdministrationFooter()