#AdminPageTitle('entries.page.header' 'Entries')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Add blog entry form -->
                <div class="mainClm">
                    <h3>#adminResource('add.entry.to.category.text' 'Add entry to category')</h3>
                    <table>
                        <form name="add-blog-entry" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="new-blog-entry"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <tr>
                                <td>#adminResource('blog.category.text' 'Blog category')</td>
                                <td>
                                    <select name="blog-category-id">
                                    #foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
                                        <option value="$blogCategory.getId()">#if ($blogCategory.getDescription())$blogCategory.getDescription()#else$blogCategory.getName()#end</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('add.entry.to.category.text' 'Add entry to category')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Edit blog entries form -->
                <div class="mainClm">
                    <h3>#adminResource('edit.entries.in.category.text' 'Edit entries in an existing blog category')</h3>
                    <table>
                        <form name="edit-blog-entries" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="edit-blog-entries"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <tr>
                                <td>#adminResource('blog.category.text' 'Blog category')</td>
                                <td>
                                    <select name="blog-category-id">
                                    #foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
                                        <option value="$blogCategory.getId()">#if ($blogCategory.getDescription())$blogCategory.getDescription()#else$blogCategory.getName()#end</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('edit.entries.in.category.text' 'Edit entries in category')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")