#AdminPageTitle('edit.blog.entries.page.header' 'Edit Blog Entries')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Edit blog entries form -->
                <div class="mainClm">
                    <h3>Edit an entry in #CategoryDescription($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY)</h3>
                    <table>
                        <form name="edit-blog-entry" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="edit-blog-entry"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <input type="hidden" name="blog-category-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY.getId()"/>
                            <tr>
                                <td>#adminResource('blog.entry.text' 'Blog entry')</td>
                                <td>
                                    <select name="blog-entry-id">
                                    #foreach ($blogEntry in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_LIST)
                                        <option value="$blogEntry.getId()">$blogEntry.getTitle()</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('edit.blog.entry.text' 'Edit blog entry')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                #set($confirmationText = "#adminResource('delete.blog.entry.confirmation.text' '')")
                #DeleteConfirmationPrompt('' $confirmationText)

                <!-- Delete blog entries form -->
                <div class="mainClm">
                    <h3>Delete an entry in #CategoryDescription($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY)</h3>
                    <table>
                        <form name="delete-blog-entry" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-blog-entry"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <input type="hidden" name="blog-category-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY.getId()"/>
                            <tr>
                                <td>#adminResource('blog.entry.text' 'Blog entry')</td>
                                <td>
                                    <select name="blog-entry-id">
                                    #foreach ($blogEntry in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_LIST)
                                        <option value="$blogEntry.getId()">$blogEntry.getTitle()</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.blog.entry.text' 'Delete blog entry')" #OnClickDeletePrompt('') />
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")
