#AdminPageTitle('file.upload.header' 'File Upload')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- File upload form -->
                <div class="mainClm">
                    <h3>#adminResource('file.upload.text' 'Upload a file')</h3>
                    <table>
                        <form name="upload-file" action=".?flavor=admin&plugins=file-upload&action=upload-file" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                            <tr>
                                <td>#adminResource('file.to.upload.text' 'File to upload')</td>
                                <td><input type="file" size="50" name="upload-file"/></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('file.upload.text' 'Upload a file')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                #set($confirmationText = "#adminResource('delete.files.confirmation.text' '')")
                #set($specificType = 'Files')
                #DeleteConfirmationPrompt($specificType $confirmationText)

                <!-- File upload delete form -->
                <div class="mainClm">
                    <h3>#adminResource('file.delete.text' 'Delete a file(s)')</h3>
                    <table>
                        <form name="delete-upload-files" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="file-upload"/>
                            <input type="hidden" name="action" value="delete-upload-files"/>
                            <tr>
                                <td>#adminResource('files.to.delete.text' 'File(s) to delete - multiple selections allowed')</td>
                                <td>
                                    <select name="file-to-delete" multiple="true" size="5">
                                    #foreach ($filename in $PLUGIN_ADMIN_FILE_UPLOAD_FILES.keySet())
                                        <option value="$filename">$filename</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('file.delete.text' 'Delete a file(s)')" #OnClickDeletePrompt($specificType) />
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>

            <!-- Accepted file types / Invalid file extensions -->
            <div id="sidebar">
                <h4>#adminResource('accepted.file.types.text' 'Accepted file types')</h4>
                #foreach ($type in $ACCEPTED_FILE_TYPES)
                    #if ($type.trim().length() > 0)
                    <a href="javascript:;">$type&nbsp;</a><br/>
                    #end
                #end

                <p></p>

                <h4>#adminResource('invalid.file.extensions.text' 'Invalid file extensions')</h4>
                #foreach ($extension in $INVALID_FILE_EXTENSIONS)
                    <a href="javascript:;">$extension&nbsp;</a><br/>
                #end
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")