#AdminPageTitle('manage.entries.header' 'Manage Entries')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                #set($confirmationText = "#adminResource('delete.blog.entry.confirmation.text' '')")
                #DeleteConfirmationPrompt('' $confirmationText)

                #set($page_number = $pg_num.intValue())
                #set($total_pages = $BLOJSOM_PLUGIN_TOTAL_ENTRIES_PAGES.intValue())
                #set($next_page = $page_number + 1)
                #set($previous_page = $page_number - 1)

                <div class="mainClm">
                    <h3>#adminResource('latest.posts.text' '')</h3>
                    <table border=".5">
                        <tr>
                            <th>#adminResource('id.text' '')</th> <th>#adminResource('posted.on.text' '')</th> <th>#adminResource('title.text' '')</th> <th>#adminResource('category.text' '')</th> <th>#adminResource('responses.text' '')</th> <th>#adminResource('author.text' '')</th> <th colspan="3">#adminResource('actions.text' '')</th>
                        </tr>
                        #foreach ($entry in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_LIST)
                        <tr>
                            <td>$entry.getId()</td>
                            <td>$entry.getDateAsFormat("yyyy-M-d @ h:m:s a", $BLOJSOM_BLOG.getBlogAdministrationLocale())</td>
                            <td>$entry.getEscapedTitle()</td>
                            <td>#CategoryDescription($entry.getBlogCategory())</td>
                            <td>$entry.getResponses().size()</td>
                            <td>$entry.getAuthor()</td>
                            <td><a href="#BlogURL()$entry.getBlogCategory().getName()$entry.getPostSlug()">View</a></td>
                            <td><a href="#BlogAdminURL()/?flavor=admin&action=edit-blog-entry&plugins=edit-blog-entries&blog-category-id=$entry.getBlogCategory().getId()&blog-entry-id=$entry.getId()">Edit</a></td>
                            <td><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-entries&action=edit-entries-list&subaction=delete-blog-entry-list&pg_num=$page_number&blog-entry-id=$entry.getId()" #OnClickDeletePrompt('')>Delete</a></td>
                        </tr>
                        #end
                    </table>

                    #if ($page_number > 1)
                    <a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-entries&action=edit-entries-list&pg_num=$previous_page">&laquo; #adminResource('previous.page.text' '')</a>
                    #end
                    #if ($page_number < $total_pages)
                    <a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-entries&action=edit-entries-list&pg_num=$next_page">#adminResource('next.page.text' '') &raquo;</a>
                    #end
                </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")