        <ul id="nav">
            <li><a href="#BlogAdminURL()/?flavor=admin">#adminResource('administration.text' '')</a></li>
            <li><a href="#">#adminResource('entries.page.header' '')</a>
                <ul>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry">#adminResource('add.entry.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-entries&action=page">#adminResource('edit.and.delete.entries.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('manager.page.header' 'Manage')</a>
                <ul>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-categories&action=page">#adminResource('edit.blog.categories.page.header' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-entries&action=edit-entries-list&pg_num=1">#adminResource('entries.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=bulk-response-management&action=page">#adminResource('responses.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('weblog.settings.text' '')</a>
                <ul>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blogs&action=page">#adminResource('blogs.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=file-upload&action=page">#adminResource('files.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-flavors&action=page">#adminResource('flavors.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-permissions&action=page">#adminResource('permissions.page.header' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-preferences&action=page">#adminResource('preferences.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-properties&action=page">#adminResource('properties.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-templates&action=page">#adminResource('templates.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-authorization&action=page">#adminResource('users.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('plugin.settings.text' '')</a>
                <ul>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=list-web-admin-plugins">#adminResource('configure.available.plugins.text' '')</a></li>
                    <li><a href="#BlogAdminURL()/?flavor=admin&plugins=edit-blog-plugins&action=page">#adminResource('configure.plugin.mappings.text' '')</a></li>
                </ul>
            </li>
        </ul>
