#AdminPageTitle('update.blog.category.page.header' 'Update Blog Category')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Update blog category form -->
                <div class="mainClm">
                    <h3>#adminResource('update.existing.category.text' 'Update an existing blog category')</h3>
                    <table>
                        <form name="update-blog-category" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="update-blog-category"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-categories"/>
                            <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY.getName()"/>
                            <input type="hidden" name="blog-category-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY.getId()"/>
                            <tr>
                                <td>#adminResource('category.name.text' 'Category name')</td>
                                <td><input type="text" size="50" value="$BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY.getName()" disabled="true"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('category.parent.text' 'Category parent')</td>
                                <td>
                                    <select name="blog-category-parent-id">
                                        <option value="">None</option>
                                    #foreach ($blogCategory in $BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_ALL_CATEGORIES)
                                        #if (!$blogCategory.getId().equals($BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY.getId()))
                                        <option value="$blogCategory.getId()"#if ($blogCategory.getId().equals($BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY.getParentCategoryId())) selected #end>#CategoryDescription($blogCategory)</option>
                                        #end
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>#adminResource('category.description.text' 'Category description (optional)')</td>
                                <td><input type="text" size="50" name="blog-category-description" value="$!BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY.getDescription()"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('category.metadata.text' 'Category meta-data (optional)')</td>
                                <td><textarea rows="10" cols="60" name="blog-category-meta-data">$!BLOJSOM_PLUGIN_EDIT_BLOG_CATEGORIES_CATEGORY_METADATA</textarea></td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('update.category.text' 'Update category')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")
