        <div id="login">
            <p>Logged in as: <a href="#" title="view info">$BLOJSOM_ADMIN_PLUGIN_USERNAME</a> : <a href="#BlogAdminURL()/?flavor=admin&action=logout" title="log out">#adminResource('logout.text' '')</a></p>
            <p>Logged in to: <a href="#BlogURL()" title="view site info">#BlogName()</a></p>
        </div>
