#AdminPageTitle('authorization.page.header' 'Authorization')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Modify blog user authorization form -->
                <div class="mainClm">
                    <h3>#adminResource('modify.user.text' '')</h3>
                    <table>
                        <form name="add-blog-authorization" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="modify-blog-authorization"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-authorization"/>
                            <input type="hidden" name="blog-user-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_USER.getId()"/>
                            <tr>
                                <td>#adminResource('authorized.user.id.text' '')</td>
                                <td>
                                    <input type="text" size="50" name="blog-login-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_USER.getUserLogin()" disabled="true" />
                                </td>
                            </tr>
                            <tr>
                                <td>#adminResource('authorized.user.name.text' '')</td>
                                <td><input type="text" size="35" name="blog-user-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_USER.getUserName()"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('authorized.user.password.text' '')<br/>(#adminResource('leave.blank.to.keep.password.text' ''))</td>
                                <td><input type="password" size="15" name="blog-user-password"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('authorized.user.password.check.text' '')</td>
                                <td><input type="password" size="15" name="blog-user-password-check"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('authorized.user.email.text' '')</td>
                                <td><input type="text" size="30" name="blog-user-email" value="$BLOJSOM_PLUGIN_EDIT_BLOG_USER.getUserEmail()"/></td>
                            </tr>
                            <tr />
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('modify.authorized.user.text' '')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' '')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")
