#AdministrationHeader("#adminResource('templates.page.header' 'Templates')")

<body>
    <div id="wrap">

        <h1>Blosjom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Add blog template form -->
                <div class="mainClm">
                    <h3>#adminResource('add.blog.template.text' 'Add blog template')</h3>
                    <table>
                        <form name="edit-blog-template" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="add-blog-template"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('template.to.add.text' 'Template to add')</td>
                                <td><input type="text" size="25" name="blog-template"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.template.directory.text' 'Blog template directory')</td>
                                <td>
                                    <select name="blog-template-directory">
                                    #foreach ($directory in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_DIRECTORIES)
                                        <option value="$directory">$directory</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('add.blog.template.text' 'Add blog template')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Edit blog template form -->
                <div class="mainClm">
                    <h3>#adminResource('edit.blog.template.text' 'Update blog template')</h3>
                    <table>
                        <form name="edit-blog-template" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="edit-blog-template"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('blog.template.text' 'Blog template')</td>
                                <td>
                                    <select name="blog-template">
                                    #foreach ($blogTemplate in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_TEMPLATE_FILES)
                                        <option value="$blogTemplate">$blogTemplate</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('edit.blog.template.text' 'Update blog template')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                #set($confirmationText = "#adminResource('delete.template.confirmation.text' '')")
                #set($specificType = 'Template')
                #DeleteConfirmationPrompt($specificType $confirmationText)

                <!-- Delete blog template form -->
                <div class="mainClm">
                    <h3>#adminResource('delete.blog.template.text' 'Delete blog template')</h3>
                    <table>
                        <form name="edit-blog-template" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-blog-template"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('blog.template.text' 'Blog template')</td>
                                <td>
                                    <select name="blog-template">
                                    #foreach ($blogTemplate in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_TEMPLATE_FILES)
                                        <option value="$blogTemplate">$blogTemplate</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.blog.template.text' 'Delete blog template')" #OnClickDeletePrompt($specificType) />
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Add blog template directory form -->
                <div class="mainClm">
                    <h3>#adminResource('add.template.directory.text' 'Add blog template directory')</h3>
                    <table>
                        <form name="add-template-directory" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="add-template-directory"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('directory.to.add.text' 'Directory to add')</td>
                                <td><input type="text" size="25" name="template-directory-to-add"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('parent.blog.template.directory.text' 'Parent blog template directory')</td>
                                <td>
                                    <select name="blog-template-directory">
                                    #foreach ($directory in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_DIRECTORIES)
                                        <option value="$directory">$directory</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('add.template.directory.text' 'Add blog template directory')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                #set($confirmationText = "#adminResource('delete.template.directory.confirmation.text' '')")
                #set($specificType = 'TemplateDirectory')
                #DeleteConfirmationPrompt($specificType $confirmationText)

                <!-- Delete blog template directory form -->
                <div class="mainClm">
                    <h3>#adminResource('delete.template.directory.text' 'Delete blog template directory')</h3>
                    <table>
                        <form name="delete-template-directory" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-template-directory"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('blog.template.directory.text' 'Blog template directory')</td>
                                <td>
                                    <select name="blog-template-directory">
                                    #foreach ($directory in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_DIRECTORIES)
                                        <option value="$directory">$directory</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.template.directory.text' 'Delete blog template directory')" #OnClickDeletePrompt($specificType) />
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#AdministrationFooter()