#AdminPageTitle('console.header' '')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="header">
            <h2>Welcome to the <a href="http://blojsom.sourceforge.net">blojsom</a> administration console.</h2>
        </div>

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <div class="mainClm">
                    Use the menus in the navigation bar above to interact with your blog.
                </div>
            </div>

            <div id="sidebar">
                <h4>Support</h4>

                <p>The <a href="http://lists.sourceforge.net/lists/listinfo/blojsom-users">users mailing list</a> is for general discussion about blojsom.</p>
                <p>The <a href="http://lists.sourceforge.net/lists/listinfo/blojsom-developers">developers mailing list</a> is for software development discussions about blojsom.</p>
                <p>If you find a bug in the software or would like to request functionality enhancements, please use the <a href="http://jira.blojsom.com/jira/secure/Dashboard.jspa">bug tracking</a> site.</p>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")
