#AdministrationHeader("#adminResource('configure.plugin.mappings.text' '')")

<body>
    <div id="wrap">

        <h1>Blosjom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()
                <div class="mainClm">
                    <h3>#adminResource('configure.plugin.mappings.text' '')</h3>
                    <table>
                        <tr>
                            <th>#adminResource('flavor.text' 'Flavor')</th>
                            <th>#adminResource('plugin.chain.map.text' 'Plugin chain map')</th>
                        </tr>
                        <form name="edit-blog-plugins" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="modify-plugin-chains"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-plugins"/>
                                #foreach ($flavor in $BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_MAP.keySet())
                            <tr>
                                <td>$flavor plugin chain map</td>
                                <td>
                                    <input name="${flavor}.blojsom-plugin-chain" type="text" size="50" value="$BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_MAP.get($flavor)"/>
                                </td>
                            </tr>
                                #end
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <input type="submit" name="submit" value="#adminResource('edit.blog.plugin.chains.text' 'Edit blog plugin chains')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>

            <div id="sidebar">
                <h4>Available Plugins</h4>
                #foreach ($plugin in $BLOJSOM_PLUGIN_EDIT_BLOG_PLUGINS_AVAILABLE_PLUGINS.keySet())
                   <a href="#">$plugin&nbsp;</a><br/>
                #end
            </div>
        </div>
    </div>
</body>

#AdministrationFooter()
