#AdminPageTitle('blog.preferences.page.header' 'User Preferences')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <a name="top" />
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <div class="mainClm">
                    <h3>#adminResource('blog.preferences.page.header' '')</h3>
                    <table border=".5">
                        <form name="edit-blog-preferences" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="edit-blog-preferences"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-preferences"/>

                            <tr>
                                <td>#adminResource('use.richtext.editor.text' '')</td>
                                <td>
                                    #set ($selectListName = "use-richtext-editor")
                                    #yesNoSelectList($selectListName $!BLOJSOM_USER_OBJECT.getMetaData().get("use-richtext-editor"))
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('update.properties.text' '')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' '')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")