#AdminPageTitle('permissions.page.header' 'Permissions')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Current permissions -->
                <div class="mainClm">
                    <h3>#adminResource('current.permissions.text' 'Current permissions')</h3>

                    #foreach ($blogUserID in $BLOJSOM_PLUGIN_EDIT_BLOG_PERMISSIONS_USER_MAP.keySet())
                    #set ($permissionsList = $BLOJSOM_PLUGIN_EDIT_BLOG_PERMISSIONS_USER_MAP.get($blogUserID))
                    <table>
                        <tr><td>$blogUserID</td><td>#foreach ($permission in $permissionsList.keySet()) $permission #end</td></tr>
                    </table>
                #end
                </div>

                <!-- Add blog user permission form -->
                <div class="mainClm">
                    <h3>#adminResource('add.user.permission.text' 'Add a new permission for a user of the current blog')</h3>
                    <table>
                        <form name="add-blog-permission" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="add-blog-permission"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-permissions"/>
                            <tr>
                                <td>#adminResource('authorized.user.id.text' 'Authorized user ID')</td>
                                <td>
                                    <select name="blog-user-id">
                                    #foreach ($blogUserID in $BLOJSOM_PLUGIN_EDIT_BLOG_PERMISSIONS_USER_MAP.keySet())
                                        <option value="$blogUserID">$blogUserID</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>#adminResource('permission.to.add.text' 'Permission to add')</td>
                                <td><input type="text" size="25" name="blog-permission"/></td>
                            </tr>
                            <tr />
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('add.permission.text' 'Add permission')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Delete blog user permission form -->
                <div class="mainClm">
                    <h3>#adminResource('delete.user.permission.text' 'Delete a permission for a user of the current blog')</h3>
                    <table>
                        <form name="delete-blog-permission" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-blog-permission"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-permissions"/>
                            <tr>
                                <td>#adminResource('authorized.user.id.text' 'Authorized user ID')</td>
                                <td>
                                    <select name="blog-user-id">
                                    #foreach ($blogUserID in $BLOJSOM_PLUGIN_EDIT_BLOG_PERMISSIONS_USER_MAP.keySet())
                                        <option value="$blogUserID">$blogUserID</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>#adminResource('permission.to.delete.text' 'Permission to delete')</td>
                                <td><input type="text" size="25" name="blog-permission"/></td>
                            </tr>
                            <tr />
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.permission.text' 'Delete permission')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")