#AdminPageTitle('console.header' '')
#parse("org/blojsom/plugin/admin/templates/admin-header-include.vm")

<body>
    <div id="wrap">

        <h1>Blojsom Administration Interface</h1>

        #parse("org/blojsom/plugin/admin/templates/admin-login-include.vm")

        #parse("org/blojsom/plugin/admin/templates/admin-navigation-include.vm")

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <div class="mainClm">

                    <h3>#adminResource('manage.responses.text' '')</h3>

                    <script type="text/javascript">
                    function checkAll(form, type, state) {
                        for (i = 0, n = form.elements.length; i < n; i++) {
                            if(form.elements[i].type == "checkbox" && form.elements[i].name.indexOf(type) != -1) {
                                form.elements[i].checked = state;
                            }
                        }
                    }

                    function checkSingle(item, state) {
                        item.checked = state;
                    }
                    </script>

                    <form name="search-blog-responses" action="." method="post" accept-charset="UTF-8">
                        <input type="hidden" name="flavor" value="admin" />
                        <input type="hidden" name="action" value="bulk-response-management" />
                        <input type="hidden" name="plugins" value="bulk-response-management" />
                        <h3>Search responses #if ($query) for "$query" #end <input type="text" name="query" #if ($query) value="$query"#end size="20" /> <input type="submit" name="submit" value="#adminResource('submit.text' '')" /> <br />(#adminResource('bulk.search.help.text' ''))</h3>
                    </form>

                    #set ($responseCounter = 1)
                    <form name="brm" id="brm" action="." method="post" accept-charset="UTF-8">

                        <p align="right">
                            You may select all responses for <a href="javascript:;" onclick="checkAll(document.getElementById('brm'),'approve',false);checkAll(document.getElementById('brm'),'delete',true);">deletion</a> or <a href="javascript:;" onclick="checkAll(document.getElementById('brm'),'approve',true);checkAll(document.getElementById('brm'),'delete',false);">approval</a> or <a href="javascript:;" onclick="checkAll(document.getElementById('brm'),'mark_spam',true);">spam</a><br/>
                            Or you may un-select all responses for <a href="javascript:;" onclick="checkAll(document.getElementById('brm'),'delete',false);">deletion</a> or <a href="javascript:;" onclick="checkAll(document.getElementById('brm'),'approve',false);">approval</a> or <a href="javascript:;" onclick="checkAll(document.getElementById('brm'),'mark_spam',false);">spam</a>
                        </p>
                        <p>
                            <input type="submit" name="submit" value="#adminResource('submit.text' '')"/> <input type="reset" name="reset" value="#adminResource('reset.text' '')"/>
                        </p>

                        <input type="hidden" name="action" value="bulk-response-management"/>
                        <input type="hidden" name="flavor" value="admin"/>
                        <input type="hidden" name="plugins" value="bulk-response-management"/>

                        #set($displayResponseText = ("true" == $BLOJSOM_USER_OBJECT.getMetaData().get("display-response-text")))

                        #foreach ($response in $BULK_RESPONSES)
                        <h3>&nbsp;</h3>
                        <p>
                            <strong>$responseCounter. ( <a href="#" title="Show" onclick="Element.show('response$responseCounter'); return false;">+</a> <a href="#" title="Hide" onclick="Element.hide('response$responseCounter'); return false;">-</a> ) </strong> $response.getDateAsFormat("yyyy-M-d @ h:m:s a", $BLOJSOM_BLOG.getBlogAdministrationLocale()) ( <strong>$response.getType()</strong> ) ( IP: $!response.getIp() )<br/>
                            #if ($response.getType().equals("comment"))
                            #set ($delete = "delete_comments")
                            #set ($approve = "approve_comments")
                            #set ($markspam = "mark_spam_comments")
                            <strong>$!response.getEscapedAuthor()</strong> ( <a href="mailto:$!response.getEscapedAuthorEmail()">$response.getEscapedAuthorEmail()</a> / <a href="$!response.getEscapedAuthorURL()">$!response.getEscapedAuthorURL()</a> )<br/>
                            <div id="response$responseCounter" #if (!$displayResponseText)style="display: none"#end>
                            $response.getEscapedComment()
                            </div>
                            #elseif ($response.getType().equals("trackback"))
                            #set ($delete = "delete_trackbacks")
                            #set ($approve = "approve_trackbacks")
                            #set ($markspam = "mark_spam_trackbacks")
                            <strong>From: </strong><a href="$!response.getEscapedUrl()">$!response.getEscapedTitle()</a> ( $!response.getEscapedBlogName() )<br/>
                            <div id="response$responseCounter" #if (!$displayResponseText)style="display: none"#end>
                            $response.getEscapedExcerpt()
                            </div>
                            #elseif ($response.getType().equals("pingback"))
                            #set ($delete = "delete_pingbacks")
                            #set ($approve = "approve_pingbacks")
                            #set ($markspam = "mark_spam_pingbacks")
                            <strong>From: </strong><a href="$!response.getEscapedSourceURI()">$!response.getEscapedSourceURI()</a><br/>
                            <strong>  To: </strong><a href="$!response.getEscapedTargetURI()">$!response.getEscapedTargetURI()</a><br/>
                            <div id="response$responseCounter" #if (!$displayResponseText)style="display: none"#end>
                            $response.getEscapedExcerpt()
                            </div>
                            #end
                            <p align="right">[ <input type="checkbox" name="$delete" value="$response.getId()" id="delete-$responseCounter" onclick="checkSingle(document.getElementById('approve-$responseCounter'),false)">#adminResource('delete.text' '')</input> - <input type="checkbox" name="$approve" value="$response.getId()" id="approve-$responseCounter" onclick="checkSingle(document.getElementById('delete-$responseCounter'),false)">#adminResource('approve.text' '')</input> - <input type="checkbox" name="$markspam" value="$response.getId()" id="markspam-$responseCounter">#adminResource('mark.spam.text' '')</input>] </p>
                            #set ($delete = "")
                            #set ($approve = "")
                            #set ($markspam = "")
                        </p>
                        #set($responseCounter = $responseCounter + 1)
                        #end

                        #if ($responseCounter > 1)
                        <h3>&nbsp;</h3>
                        <input type="submit" name="submit" value="#adminResource('submit.text' '')"/> <input type="reset" name="reset" value="#adminResource('reset.text' '')"/>
                        #end
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

#parse("org/blojsom/plugin/admin/templates/admin-footer-include.vm")
