
                            #FriendlyPermalink($entry)
                            #set($permalink = $entryLink)
                            <div class="entry">
                                #if($entryDate != $entry.getDateAsFormat('dd MM yyyy'))<h3>$entry.getDateAsFormat('EEEE, d MMMM yyyy')</h3>
                                #set($entryDate = $entry.getDateAsFormat('dd MM yyyy'))#end

                                <h4><a href="$permalink" title="Permalink of &quot;$entry.getTitle()&quot;">$entry.getTitle()</a></h4>
                                #if($BLOJSOM_PERMALINK && $BLOJSOM_BLOG.getLinearNavigationEnabled()) #if ($BLOJSOM_PERMALINK_PREVIOUS_ENTRY) #FriendlyPermalink($BLOJSOM_PERMALINK_PREVIOUS_ENTRY)<a href="$entryLink">&laquo;&nbsp;$!BLOJSOM_PERMALINK_PREVIOUS_ENTRY.getTitle()</a> | #end <a href="$BLOJSOM_BLOG.getBlogURL()">Main</a> #if ($BLOJSOM_PERMALINK_NEXT_ENTRY) | #FriendlyPermalink($BLOJSOM_PERMALINK_NEXT_ENTRY) <a href="$entryLink">$!BLOJSOM_PERMALINK_NEXT_ENTRY.getTitle()&nbsp;&raquo;</a>#end#end

                                <div class="post">
                                    $entry.getDescription()
                                    #TechnoratiTags($entry)
                                </div>
                                <div class="info">
                                    #if($entry.getAuthor())Posted by <span class="author">$entry.getAuthor()</span> at $entry.getDateAsFormat("h:mm a") in <a href="#BlogURL()$entry.getCategory()" title="$entry.getCategory()">#if($entry.getBlogCategory().getDescription())$entry.getBlogCategory().getDescription()#else$entry.getBlogCategory().getName()#end</a>#end
                                </div>
                                <div class="links">
                                    #if ($entry.allowsComments())<span class="commentslink"><a href="$permalink?page=comments" title="Click here to see the comments on &quot;$entry.getEscapedTitle()&quot;"><span></span>Comments ($entry.getNumComments())</a></span>#end #if ($entry.allowsTrackbacks())<span class="trackbackslink"><a href="$permalink?page=trackback" title="Click here to see the trackbacks of &quot;$entry.getEscapedTitle()&quot;"><span></span>Trackbacks ($entry.getNumTrackbacks())</a></span>#end
                                </div>
                                #set( $totalEntries = $totalEntries + 1)
                                #if ($BLOJSOM_PERMALINK)
                                    #TrackbackAutoDiscovery($entry false)
                                #end

                            </div>
                            <div class="clear"></div>
