<?xml version="1.0" encoding="UTF-8"?>
<html>

    <head>
        <title>$BLOJSOM_BLOG.getBlogName() - Edit blog entry</title>
    </head>

    <body>
        <center>
            <h3>$BLOJSOM_BLOG.getBlogName() - Edit blog entry</h3>
        </center>
        <a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin">Administration</a> homepage.
        <p />

        <!-- Edit blog entries form -->
        <center>
            <h3>Edit an existing blog entry</h3>
            <table border="1">
                <form name="edit-blog-entries" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="update-blog-entry"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-entries"/>
                    <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                    <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                    <tr>
                        <td>Blog entry title</td>
                        <td><input type="text" size="50" name="blog-entry-title" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTitle()"/></td>
                    </tr>
                    <tr>
                        <td>Blog entry text</td>
                        <td><textarea rows="10" cols="80" name="blog-entry-description">$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getDescription()</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="Update blog entry"/>
                                <input type="reset" name="reset" value="Reset"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>
        </center>
    </body>
</html>