        #set($title = $BLOJSOM_BLOG.getBlogName())
        #set($separator = "&raquo;")
        #if($BLOJSOM_PERMALINK)
        #foreach($entry in $BLOJSOM_ENTRIES)#set($title = "$title $separator $entry")#end
        #end

        <title>$title</title>
        <!-- Meta Information -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="mssmarttagspreventparsing" content="true"/>
        <meta name="generator" content="$BLOJSOM_VERSION"/>
        <!-- Site Feed Autodiscovery-->
        <link rel="alternate" type="application/rss+xml" title="rss" href="#BlogURL()/feed/rss2/"/>
        <!-- Atom API Posting Autodiscovery -->
        <link rel="service.post" type="application/atom+xml" title="#BlogName()" href="#BlogBaseURL()/atomapi/$BLOJSOM_BLOG_ID/"/>
        <!-- Blogger API Autodiscovery -->
        <link rel="edituri" type="application/rsd+xml" title="rsd" href="#BlogURL()/feed/rsd/"/>
        <link rel="shortcut icon" href="#BlogBaseURL()/favicon.ico" />
        <link rel="stylesheet" rev="stylesheet" href="#Resource('ocean.css')" type="text/css" media="screen" />
        <link rel="stylesheet" rev="stylesheet" href="#Resource('ocean-fixed.css')" title="fixed" type="text/css" media="screen" />
        <link rel="stylesheet" rev="stylesheet" href="#Resource('ocean-elastic.css')" title="elastic" type="text/css" media="screen" />
        <!--[if IE 7]>
        <link rel="stylesheet" rev="stylesheet" href="#Resource('ocean-ie7.css')" type="text/css" media="screen" />
        <![endif]-->
        <script type="text/javascript" src="#Resource('ocean.js')"></script>

        #if ($BLOJSOM_PERMALINK)
        #foreach ($entry in $BLOJSOM_ENTRIES)
        #if ($velocityCount == 1)
        <!-- Pingback link -->
        #XMLRPCLink($entry 'xmlrpc')
        <link rel="pingback" href="$xmlrpcLink" />
        #end
        #end
        #end
                