                    <th colspan="2">#adminResource('rss.enclosure.text' 'RSS Enclosure')</th>
                    <tr>
                        <td>#adminResource('rss.enclosure.text' 'RSS Enclosure')</td>
                        <td><select name="rss-enclosure"><option value="">#adminResource('enclosure.selection.text' '-- Select a file as an enclosure --')</option>
                            #foreach ($filename in $PLUGIN_RSS_ENCLOSURE_FILES.keySet())
                                <option value="$filename" #if($filename.equals($RSS_ENCLOSURE_ATTACHMENT)) SELECTED #end>$filename</option>
                            #end
                        </select></td>
                    </tr>
                    <tr>
                        <td colspan="2">#adminResource('rss.enclosure.explicit.text' 'Or, you may provide explicit values for the enclosure. If you only provide the enclosure URL, blojsom will try and discover the other values. Leave the URL blank to remove the enclosure from the entry.')</td>
                    </tr>
                    <tr>
                        <td>URL to enclosure</td>
                        <td><input type="text" name="rss-enclosure-url" value="$!RSS_ENCLOSURE_URL_ITEM" size="60" /></td>
                    </tr>
                    <tr>
                        <td>Length of enclosure</td>
                        <td><input type="text" name="rss-enclosure-length" value="$!RSS_ENCLOSURE_LENGTH_ITEM" size="15" /></td>
                    </tr>
                    <tr>
                        <td>MIME type of enclosure</td>
                        <td><input type="text" name="rss-enclosure-type" value="$!RSS_ENCLOSURE_TYPE_ITEM" size="15" /></td>
                    </tr>