<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

    <servlet>
        <servlet-name>blojsom</servlet-name>
        <servlet-class>org.ignition.blojsom.servlet.BlojsomServlet</servlet-class>
        <init-param>
            <param-name>blog-configuration</param-name>
            <param-value>/WEB-INF/blojsom.properties</param-value>
        </init-param>
        <init-param>
            <param-name>blog-flavor-configuration</param-name>
            <param-value>/WEB-INF/flavor.properties</param-value>
        </init-param>
        <init-param>
            <param-name>velocity-properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher-map-configuration</param-name>
            <param-value>/WEB-INF/dispatcher.properties</param-value>
        </init-param>
        <init-param>
            <param-name>blog-plugin-configuration</param-name>
            <param-value>/WEB-INF/plugin.properties</param-value>
        </init-param>
        <init-param>
            <param-name>plugin-macros-expansion</param-name>
            <param-value>/WEB-INF/macros.properties</param-value>
        </init-param>
        <init-param>
            <param-name>plugin-showmemore</param-name>
            <param-value>/WEB-INF/showmemore.properties</param-value>
        </init-param>
        <init-param>
            <param-name>blog-authorization</param-name>
            <param-value>/WEB-INF/authorization.properties</param-value>
        </init-param>
        <init-param>
            <param-name>plugin-referer</param-name>
            <param-value>/WEB-INF/referer.properties</param-value>
        </init-param>
        <init-param>
            <param-name>smtp-server</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>plugin-emoticons</param-name>
            <param-value>/WEB-INF/emoticons.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>blojsomxmlrpc</servlet-name>
        <servlet-class>org.ignition.blojsom.extension.xmlrpc.BlojsomXMLRPCServlet</servlet-class>
        <init-param>
            <param-name>blog-configuration</param-name>
            <param-value>/WEB-INF/blojsom.properties</param-value>
        </init-param>
        <init-param>
            <param-name>blog-xmlrpc-configuration</param-name>
            <param-value>/WEB-INF/blojsom-xmlrpc.properties</param-value>
        </init-param>
        <init-param>
            <param-name>blog-authorization</param-name>
            <param-value>/WEB-INF/authorization.properties</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>blojsomcommentapi</servlet-name>
        <servlet-class>org.ignition.blojsom.extension.comment.CommentAPIServlet</servlet-class>
        <init-param>
            <param-name>blog-configuration</param-name>
            <param-value>/WEB-INF/blojsom.properties</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>blojsom</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>blojsomxmlrpc</servlet-name>
        <url-pattern>/xmlrpc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>blojsomcommentapi</servlet-name>
        <url-pattern>/commentapi/*</url-pattern>
    </servlet-mapping>

</web-app>
