<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>$BLOJSOM_BLOG.getBlogName() (Trackback)</title>
		
		#parse("cphi-header1.inc.vm")

	</head>

	<body> 
		<div id="wrapper"> 
			<div id="header"> 
				<h1>$BLOJSOM_BLOG.getBlogName()<br />
				<span>$BLOJSOM_BLOG.getBlogDescription()</span></h1>
			</div>
			
			<!-- SITE NAVIGATION -->
			#parse("cphi-sitenav.inc.vm")
			
			<!-- START CONTENT -->
			<div id="content"> 
				<div id="main">

					<!-- ENTRIES -->
					#set( $totalEntries = 0)
					
					#foreach ($entry in $BLOJSOM_ENTRIES)
					
						#parse("cphi-blog-entries.inc.vm")

						<!-- TRACKBACK -->
						<h3>Trackbacks for this entry</h3>

                        <p><a href="$permalink?tb=y">Trackback</a></p>

    					#foreach ($entryTrackback in $entry.getTrackbacks())
							
							<div id="trackback">
								<p><strong>#if ($entryTrackback.getTitle()) $entryTrackback.getTitle() #end</strong></p>
							</div>
							<div class="trackback-excerpt">
								#if ($entryTrackback.getExcerpt()) <p>$entryTrackback.getExcerpt()&nbsp;</p> #end
								<p><span class="words">From: <a href="$entryTrackback.getUrl()" rel="nofollow">#if ($entryTrackback.getBlogName())$entryTrackback.getBlogName()#else$entryTrackback.getUrl()#end</a></span>
								<span class="datestamp">$entryTrackback.getTrackbackDate()</span></p>
							</div>
						#end
						
						#set( $totalEntries = $totalEntries + 1)
						
						#parse("cphi-autotrkbck.inc.vm")
					#end
				</div> 
				
				<!-- SIDEBAR LINKS -->
				#parse("cphi-blog-sidebar.inc.vm")
				
			</div> 
			<!-- END CONTENT -->
			
			<!-- FOOTER -->
			#parse("cphi-footer.inc.vm")
		</div> 
	</body>
</html>
