## Autumn Theme by Cliffano Subagio - http://mbledug.com
#FriendlyPermalink($entry)
#set($responses = $entry.getResponses())
#set($permalink = $entryLink)
<div class="entry">

  <div style="font-weight: bold; margin-bottom: 25px; text-align: center;">
    #if($BLOJSOM_PERMALINK && $BLOJSOM_BLOG.getLinearNavigationEnabled())
      #if ($BLOJSOM_PERMALINK_PREVIOUS_ENTRY)
        #FriendlyPermalink($BLOJSOM_PERMALINK_PREVIOUS_ENTRY)
        <a href="$entryLink">&laquo;&nbsp;$!BLOJSOM_PERMALINK_PREVIOUS_ENTRY.getTitle()</a>
      #end
      |
      #if ($BLOJSOM_PERMALINK_NEXT_ENTRY)
        #FriendlyPermalink($BLOJSOM_PERMALINK_NEXT_ENTRY)
        <a href="$entryLink">$!BLOJSOM_PERMALINK_NEXT_ENTRY.getTitle()&nbsp;&raquo;</a>
      #end
    #end
  </div>

  <h3><a href="$permalink" title="$entry.getTitle()">$entry.getTitle()</a></h3>
  <p>
    $entry.getDescription()
  </p>

  <p class="info">
    <span>Posted by #Author($entry) on #FormatDate($entry 'EEE, d MMM yyyy HH:mm')</span>
    <br/>
    <a href="$permalink" title="Permalink">Permalink</a>
    -
    Category <a href="#BlogURL()$entry.getCategory()" title="$entry.getCategory()">#CategoryDescription($entry.getBlogCategory())</a>
    #if (!$BLOJSOM_PERMALINK)
      #set ($numResponses = $responses.size())
      -
      <span><a href="$permalink#responses">$numResponses responses</a></span>
    #end
  </p>
  #TrackbackAutoDiscovery($entry false)
</div>
<hr/>

#if ($BLOJSOM_PERMALINK)

  <span id="responses"/>

  #if ($entry.getComments() && $entry.getTrackbacks() && ($entry.getTrackbacks().size() + $entry.getComments().size()) > 0)
  <div class="section">

    #if ($entry.getComments() && $entry.getComments().size() > 0)
        #foreach ($entryComment in $entry.getComments())
            <div class="comment">
                <p>
                    Left on $entryComment.getDateAsFormat('EEE, d MMM yyyy HH:mm') by
                    #*
                    #if ($entryComment.getAuthorEmail() && $entryComment.getAuthorEmail().length() > 0) <a href="mailto:$entryComment.getAuthorEmail()">$entryComment.getAuthor()</a> #else $entryComment.getAuthor() #end
                    *#
                    $entryComment.getAuthor()
                    #if ($entryComment.getAuthorURL() && $entryComment.getAuthorURL().length() > 0) &nbsp;[<a href="$entryComment.getAuthorURL()" rel="nofollow">$entryComment.getAuthorURL()</a>] #end

                </p>
                <p>
                    $entryComment.getComment()
                </p>
            </div>
            <br/>
        #end
    #end

    #TrackbackAutoDiscovery($entry false)
    #if ($entry.getTrackbacks() && $entry.getTrackbacks().size() > 0)
      #foreach ($entryTrackback in $entry.getTrackbacks())
        #foreach ($entryTrackback in $entry.getTrackbacks())
          <div class="trackback">
            <span>Left on $entryTrackback.getDateAsFormat('EEE, d MMM yyyy HH:mm') by <a href="$entryTrackback.getUrl()">#if ($entryTrackback.getBlogName())$entryTrackback.getBlogName()#else$entryTrackback.getUrl()#end</a></span>
            #if ($entryTrackback.getTitle()) <a href="$entryTrackback.getUrl()">$entryTrackback.getTitle()</a> #end<br />
            #if ($entryTrackback.getExcerpt()) $entryTrackback.getExcerpt() #end
          </div>
          <br/>
        #end
      #end
    #end

  </div>
  #end

  #if ($entry.allowsComments())
    <div class="section">
      <h3>Leave a comment:</h3>
      <form id="commentform" method="post" action="$permalink">
          <p>
              <input type="hidden" name="comment" value="y" />
              <input type="hidden" name="entry_id" value="$entry.getId()" />
              <input type="hidden" name="permalink" value="$entry.getPostSlug()" />
              <input type="hidden" name="redirect_to" value="$permalink" />
          </p>
          <p>
              <span class="section">Author:</span> (<span class="mandatory">*</span>)
              <br/>
              <input type="text" name="author" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR)$BLOJSOM_COMMENT_PLUGIN_AUTHOR#end" class="fixed" />
          </p>
          <p>
              <span class="section">E-mail:</span>
              <br/>
              <input type="text" name="authorEmail" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR_EMAIL)$BLOJSOM_COMMENT_PLUGIN_AUTHOR_EMAIL#end" class="fixed" />
          </p>
          <p>
              <span class="section">URL:</span>
              <br/>
              <input type="text" name="authorURL" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR_URL)$BLOJSOM_COMMENT_PLUGIN_AUTHOR_URL#end" class="fixed" />
          </p>

            <p>
                <span class="section">Comment:</span> (<span class="mandatory">*</span>)
                <br/>
                <textarea name="commentText" id="commentText" rows="7" cols="40" onkeyup="reloadPreviewDiv();" class="fixed"></textarea>
            </p>
            <p>
                <input type="checkbox" name="remember" #if ($BLOJSOM_COMMENT_PLUGIN_REMEMBER_ME)checked #end /> Remember me?
            </p>
            <p>
                <input type="submit" name="submit" value="Comment" class="button" /><input type="reset" name="reset" value="Reset" class="button" />
            </p>
        </form>
    </div>
  #end

  #if ($entry.allowsTrackbacks())
    <h3><a href="$permalink?tb=y&amp;entry_id=$entry.getId()" title="Trackback">Trackback</a></h3>
  #end

#end