#FriendlyPermalink($BLOJSOM_PINGBACK_PLUGIN_BLOG_ENTRY)
<html>
    <head></head>

    <body>
        <p>
            <strong>Pingback Details</strong>
            <br />
            <br />
            Pingback on: <a href="$entryLink">$!BLOJSOM_PINGBACK_PLUGIN_BLOG_ENTRY.getTitle()</a>
            <br />
            Pingback from: <a href="$!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getUrl()">$!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getBlogName()</a><br />
            Pingback title: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getTitle()<br />
            Left on: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getTrackbackDate()<br />
            IP Address: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getIp()<br />
            Status: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getStatus()<br />
            <br />
        </p>
        <p>
            <strong>Pingback Administration</strong>
            <br />
            <br />
            <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&amp;action=approve-blog-pingbacks&amp;plugins=edit-blog-entries&amp;&amp;blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()&amp;blog-pingback-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getId()">Approve</a> pingback <br />
            <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&amp;action=delete-blog-pingbacks&amp;plugins=edit-blog-entries&amp;blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()&amp;blog-pingback-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getId()">Delete</a> pingback <br />
        </p>
        <p>
            <strong>Pingback</strong>
            <br />
            <br />
            $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getExcerpt()
        </p>
    </body>
</html>