#FriendlyPermalink($BLOJSOM_PINGBACK_PLUGIN_BLOG_ENTRY)
==[ Pingback Details ]==========================================================

Pingback on: <a href="$entryLink">$!BLOJSOM_PINGBACK_PLUGIN_BLOG_ENTRY.getTitle()</a>

  Pingback from: <a href="$!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getUrl()">$!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getBlogName()</a>
 Pingback title: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getTitle()
        Left on: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getTrackbackDate()
     IP Address: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getIp()
         Status: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getStatus()

==[ Pingback Administration ]===================================================

   Approve pingback: <a href="#BlogAdminURL()/?flavor=admin&action=approve-blog-pingbacks&plugins=edit-blog-entries&blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()&blog-pingback-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getId()">Approve pingback</a>
    Delete pingback: <a href="#BlogAdminURL()/?flavor=admin&action=delete-blog-pingbacks&plugins=edit-blog-entries&blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()&blog-pingback-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getId()">Delete pingback</a>
         Edit entry: <a href="#BlogAdminURL()/?flavor=admin&action=edit-blog-entry&plugins=edit-blog-entries&blog-category-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getBlogCategory().getId()&blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()">Edit entry</a>

==[ Pingback ]==================================================================

$!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getExcerpt()
