#FriendlyPermalink($BLOJSOM_PINGBACK_PLUGIN_BLOG_ENTRY)
<html>
    <head></head>

    <body>
        <p>
            <strong>Pingback Details</strong>
            <br />
            <br />
            Pingback on: <a href="$entryLink">$!BLOJSOM_PINGBACK_PLUGIN_BLOG_ENTRY.getTitle()</a>
            <br />
            Pingback from: <a href="$!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getUrl()">$!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getBlogName()</a><br />
            Pingback title: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getTitle()<br />
            Left on: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getTrackbackDate()<br />
            IP Address: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getIp()<br />
            Status: $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getStatus()<br />
            <br />
        </p>
        <p>
            <strong>Pingback Administration</strong>
            <br />
            <br />
            <a href="#BlogAdminURL()/?flavor=admin&action=approve-blog-pingbacks&plugins=edit-blog-entries&&blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()&blog-pingback-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getId()">Approve</a> pingback <br />
            <a href="#BlogAdminURL()/?flavor=admin&action=delete-blog-pingbacks&plugins=edit-blog-entries&blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()&blog-pingback-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getId()">Delete</a> pingback <br />
            <a href="#BlogAdminURL()/?flavor=admin&action=edit-blog-entry&plugins=edit-blog-entries&blog-category-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getBlogCategory().getId()&blog-entry-id=$BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getEntry().getId()">Edit</a> entry <br />
        </p>
        <p>
            <strong>Pingback</strong>
            <br />
            <br />
            $!BLOJSOM_PINGBACK_PLUGIN_PINGBACK.getExcerpt()
        </p>
    </body>
</html>