<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("File Upload")

    <div id="sideBar">
        <a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin">Administration</a> console.
    </div>

        <!-- File upload form -->
        <div id="mainClm">
            <h2>Upload a file</h2>
            <table>
                <form name="upload-file" action=".?flavor=admin&plugins=file-upload&action=upload-file" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    <tr>
                        <td>File to upload</td>
                        <td><input type="file" size="50" name="upload-file"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="submit" value="Upload file"/>
                            <input type="reset" name="reset" value="Reset"/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>

        <!-- File upload delete form -->
        <div id="mainClm">
            <h2>Delete a file</h2>
            <table>
                <form name="delete-upload-files" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="file-upload"/>
                    <input type="hidden" name="action" value="delete-upload-files"/>
                    <tr>
                        <td>File(s) to delete - multiple selection allowed</td>
                        <td>
                            <select name="file-to-delete" multiple="true" size="5">
                            #foreach ($filename in $PLUGIN_ADMIN_FILE_UPLOAD_FILES.keySet())
                                <option value="$filename">$filename</option>
                            #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="submit" value="Delete file(s)"/>
                            <input type="reset" name="reset" value="Reset"/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>

#adminPageFooter()