<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

    <servlet>
        <servlet-name>blojsom</servlet-name>
        <servlet-class>org.ignition.blojsom.servlet.BlojsomServlet</servlet-class>
        <init-param>
            <param-name>blog-home</param-name>
            <param-value>/Users/czarneck/Projects/blojsom/blog/</param-value>
        </init-param>
        <init-param>
            <param-name>velocity-properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
        <init-param>
            <param-name>blog-directory-depth</param-name>
            <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>blog-language</param-name>
            <param-value>en</param-value>
        </init-param>
        <init-param>
            <param-name>blog-name</param-name>
            <param-value>David Czarnecki's Blog</param-value>
        </init-param>
        <init-param>
            <param-name>blog-description</param-name>
            <param-value>A blog to test blojsom and all of it's marevelous capabilities</param-value>
        </init-param>
        <init-param>
            <param-name>blog-reload-check</param-name>
            <param-value>300000</param-value>
        </init-param>
        <init-param>
            <param-name>blog-url</param-name>
            <param-value>http://localhost:8080/blojsom/blog/</param-value>
        </init-param>
        <init-param>
            <param-name>blog-file-extensions</param-name>
            <param-value>.html, .txt</param-value>
        </init-param>
        <init-param>
            <param-name>blog-flavor-configuration</param-name>
            <param-value>/WEB-INF/flavor.properties</param-value>
        </init-param>
        <init-param>
            <param-name>template-map-properties</param-name>
            <param-value>/WEB-INF/dispatcher-map.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>blojsom</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>

</web-app>
