## Autumn Theme by Cliffano Subagio - http://mbledug.com
<title>#BlogName()</title>
<!-- Meta Information -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="MSSmartTagsPreventParsing" content="true"/>
<meta name="generator" content="$BLOJSOM_VERSION"/>
<!-- Site Feed Autodiscovery-->
<link rel="alternate" type="application/rss+xml" title="RSS" href="#BlogURL()/feed/"/>
<!-- Atom API Posting Autodiscovery -->
<link rel="service.post" type="application/atom+xml" title="#BlogName()" href="#BlogBaseURL()/atomapi/$BLOJSOM_BLOG_ID/"/>
<!-- Blogger API Autodiscovery -->
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="#BlogURL()/feed/rsd/"/>
<link rel="shortcut icon" href="#Resource('autumn-favicon.ico')" />
<link rel="stylesheet" rev="stylesheet" href="#Resource('autumn.css')" type="text/css" media="screen" />